<div style="display: table; margin:50px auto;">
<%= form_tag translators_authentication_path do %>
    <%= label :account, "Account" %>
    <%= text_field_tag :account %>

    <%= label :password, "Password" %>
    <%= password_field_tag :password %>
    <br>
    <%= submit_tag "Login" %>
    <hr>
    <%= link_to "Sign Up", new_translator_path, :method => :get %>
<% end %>
</div>
