<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>快樂工作</title>

    <!-- BEGIN STYLE -->
    <!-- BEGIN 核心樣式 -->
    <link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css">
    <!--[if gte IE 9]>
    <style type="text/css">
    .gradient {
    filter: none;
    }
    </style>
    <![endif]-->
    <!-- END 核心樣式 -->
    <!-- BEGIN 頁面插件樣式 -->
    <link rel="stylesheet" href="../../../plugins/select2/select2-metronic.css">
    <link rel="stylesheet" href="../../../plugins/select2/select2.css">
    <link rel="stylesheet" href="../../../plugins/jquery-tags-input/jquery.tagsinput.css">
    <!-- END 頁面插件樣式 -->
    <!-- BEGIN 主題樣式 -->
    <!-- END 主題樣式 -->
    <link rel="stylesheet" type="text/css" href="../../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../css/page/create_profile.css">
    <!-- <link rel="shortcut icon" href="favicon.ico"/> -->
    <!-- END STYLE -->
</head>
<body>
    <!-- BEGIN NAVBAR -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
                <i class="fa fa-search"></i>
            </button>
            <a class="navbar-brand" href="/"><img class="navbar-logo" src="../../../img/logo208.png" alt="快樂工作"></a>
        </div>
        <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
            <div class="navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
            <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                <li><%= link_to "會員登出", destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li><%= link_to "會員登入", new_user_session_path %></li>
                <li><%= link_to "免費註冊", index_sign_up_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <!-- END NAVBAR -->
    <!-- BEGIN PAGE -->

    <div class="page-content">
        <!-- BEGIN TITLE -->
        <h1 class="title">建立個人資料</h1>
        <!-- END TITLE -->
        <!-- BEGIN MAIN CONTENT -->
        <div class="main-content">

            <div class="row">
                <div class="col-md-12">
                    <div id="form_wizard_1">
                        <div class="form">
                            <!-- <form action="#" class="form-horizontal" id="submit_form"> -->
                            <%= form_for current_user, url: users_profile_path(current_user), method: :put, html: {class: "form-horizontal", id: "submit_form"} do |f| %>
                            <div class="field">
                            </div>
                            <div class="form-wizard">
                                <div class="form-body">
                                    <ul class="nav nav-pills nav-justified steps">
                                        <li>
                                            <a href="#tab1" data-toggle="tab" class="step">
                                                <span class="number">
                                                 1
                                             </span>
                                             <span class="desc">
                                                <i class="fa fa-check"></i> 自我介紹
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab" class="step">
                                            <span class="number">
                                             2
                                         </span>
                                         <span class="desc">
                                            <i class="fa fa-check"></i> 經歷及技能
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number">
                                         3
                                     </span>
                                     <span class="desc">
                                        <i class="fa fa-check"></i> 完成編輯
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div id="bar" class="progress progress-striped" role="progressbar">
                            <div class="progress-bar progress-bar-success">
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                請檢查您輸入的資料
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                資料正確
                            </div>
                            <div class="tab-pane" id="tab1">
                                <div class=" portlet box light-grey">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            個人或小型工作室
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="radio">
                                                    <label>
                                                        <!-- <input type="radio" name="status" data-title="我是專職的自由工作者" checked> -->
                                                        <%= f.radio_button :worker_type, "1", data: {title: "我是專職的自由工作者" } %>
                                                        我是專職的自由工作者
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <!-- <input type="radio" name="status" data-title="我是兼職的自由工作者"> -->
                                                        <%= f.radio_button :worker_type, "2", data: {title: "我是兼職的自由工作者" } %>
                                                        我是兼職的自由工作者
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                       <!--  <input type="radio" name="status" data-title="我們是小於5人的工作室"> -->
                                                       <%= f.radio_button :worker_type, "3", data: {title: "我們是小於5人的工作室" } %>
                                                       我們是小於5人的工作室
                                                   </label>
                                               </div>
                                               <div class="radio">
                                                <label>
                                                    <!-- <input type="radio" name="status" data-title="我們是大於5人的工作室"> -->
                                                    <%= f.radio_button :worker_type, "4", data: {title: "我們是大於5人的工作室" } %>
                                                    我們是大於5人的工作室
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" portlet box light-grey">
                                <div class="portlet-title">
                                    <div class="caption">
                                        介紹自己
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">新增圖像</label>
                                        <div class="col-md-10">
                                            <img src="../../../img/staff.png" class="avatar" id="blah1">
                                            <!-- <input type="file" name="image" class="form-control edit" onchange="readURL(this)"> -->
                                            <%= f.file_field :image, name: "image", class: "form-control edit", onchange: "readURL(this)" %>
                                            <p class="help-block">
                                                一張好的相片可以增加雇主或是客戶對您的第一印象，提升您專業形象更能為您曾家被雇用的機會喔!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">個人簡介 <a href="javascript:;" class="show-tip" data-original-title="<h4>簡潔有力的文字描述您工作，例如:</h4><ul><li>有十年經驗的行動裝置成是開發人員</li><li>RoR程式設計師</li><li>資深Linux系統管理規劃</li></ul>">
                                            <i class="fa fa fa-info-circle" ></i>
                                        </a></label>
                                        <div class="col-md-10">
                                            <!-- <textarea name="introduction" class="form-control" rows="3" placeholder="個人簡介"></textarea> -->
                                            <%= f.text_area :introduction, class: "form-control", rows: "3", placeholder: "個人簡介" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">個人評介 <a href="javascript:;" class="show-tip" data-original-title="<h4>讓您完整的來介紹自己的工作經歷，有助於雇主更了解您的專長。</h4><p>藉此可以強調您的優勢和技能，或是參予過的專案，也能將您的教育背景呈現。言簡意賅，記得別讓您的簡介出錯。</p>">
                                            <i class="fa fa fa-info-circle" ></i>
                                        </a></label>
                                        <div class="col-md-10">
                                            <!-- <textarea name="review" class="form-control" rows="3" placeholder="個人評介"></textarea> -->
                                            <%= f.text_area :review, class: "form-control", rows: "3", placeholder: "個人評介" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">技能專長</label>
                                        <div class="col-md-10">
                                            <!-- <input id="skill-tags" name="skill" type="text" class="form-control tags" value=""/> -->
                                            <%= f.text_field :skill, class: "form-control tags", id: "skill-tags" %>
                                            <p class="help-block">
                                                建議您輸入技能專長，例如CSS, HTML Coding。
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="tab2">
                            <div class=" portlet box light-grey">
                                <div class="portlet-title">
                                    <div class="caption">
                                        待遇需求
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">每小時工資</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <div class="input-icon left">
                                                    <i class="fa"></i>
                                                    <!-- <input type="text" class="form-control text-right" name="money" placeholder="每小時工資" data-isEmpty="請輸入期望的工資"> -->
                                                    <%= f.text_field :hourly_pay, class: "form-control text-right", placeholder: "每小時工資", id: "hourly_pay", data: {isEmpty: "請輸入期望的工資"} %>
                                                </div>
                                                <span class="input-group-addon">
                                                 / HR
                                             </span>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    所在位置
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">國家</label>
                                    <div class="col-md-10">
                                        <select name="country" class="form-control edit">
                                            <option value="Afghanistan">Afghanistan 阿富汗</option>
                                            <option value="Albania">Albania 阿爾巴尼亞</option>
                                            <option value="Algeria">Algeria 阿爾及利亞</option>
                                            <option value="American Samoa">American Samoa 美屬薩摩亞</option>
                                            <option value="Andorra">Andorra 安道爾</option>
                                            <option value="Angola">Angola 安哥拉</option>
                                            <option value="Anguilla">Anguilla 安圭拉</option>
                                            <option value="Antarctica">Antarctica 南極洲</option>
                                            <option value="Antigua and Barbuda">Antigua and Barbuda 安提瓜和巴布達</option>
                                            <option value="Argentina">Argentina 阿根廷</option>
                                            <option value="Armenia">Armenia 亞美尼亞</option>
                                            <option value="Aruba">Aruba 阿魯巴</option>
                                            <option value="Australia">Australia 澳洲</option>
                                            <option value="Austria">Austria 奧地利</option>
                                            <option value="Azerbaijan">Azerbaijan 阿塞拜疆</option>
                                            <option value="Bahamas">Bahamas 巴哈馬</option>
                                            <option value="Bahrain">Bahrain 巴林</option>
                                            <option value="Bangladesh">Bangladesh 孟加拉</option>
                                            <option value="Barbados">Barbados 巴巴多斯</option>
                                            <option value="Belarus">Belarus 白俄羅斯</option>
                                            <option value="Belgium">Belgium 比利時</option>
                                            <option value="Belize">Belize 伯利茲</option>
                                            <option value="Benin">Benin 貝寧</option>
                                            <option value="Bermuda">Bermuda 百慕達</option>
                                            <option value="Bhutan">Bhutan 不丹</option>
                                            <option value="Bolivia">Bolivia 玻利維亞</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina 波斯尼亞和黑塞哥維那</option>
                                            <option value="Botswana">Botswana 博茨瓦納</option>
                                            <option value="Bouvet Island">Bouvet Island 布維島</option>
                                            <option value="Brazil">Brazil 巴西</option>
                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory 英屬印度洋領地</option>
                                            <option value="Brunei Darussalam">Brunei Darussalam 文萊</option>
                                            <option value="Bulgaria">Bulgaria 保加利亞</option>
                                            <option value="Burkina Faso">Burkina Faso 布基納法索</option>
                                            <option value="Burundi">Burundi 布隆迪</option>
                                            <option value="Cambodia">Cambodia 柬埔寨</option>
                                            <option value="Cameroon">Cameroon 喀麥隆</option>
                                            <option value="Canada">Canada 加拿大</option>
                                            <option value="Cape Verde">Cape Verde 佛得角</option>
                                            <option value="Cayman Islands">Cayman Islands 開曼群島</option>
                                            <option value="Central African Republic">Central African Republic 中非共和國</option>
                                            <option value="Chad">Chad 乍得</option>
                                            <option value="Chile">Chile 智利</option>
                                            <option value="China">China 中國</option>
                                            <option value="Christmas Island">Christmas Island 聖誕島</option>
                                            <option value="Cocos Islands">Cocos Islands 科科斯群島</option>
                                            <option value="Colombia">Colombia 哥倫比亞</option>
                                            <option value="Comoros">Comoros 科摩羅</option>
                                            <option value="Congo">Congo, Republic of the 剛果共和國</option>
                                            <option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the 剛果民主共和國</option>
                                            <option value="Cook Islands">Cook Islands 庫克群島</option>
                                            <option value="Costa Rica">Costa Rica 哥斯達黎加</option>
                                            <option value="Cote d'Ivoire">Cote d'Ivoire 科特迪瓦</option>
                                            <option value="Croatia">Croatia 克羅地亞</option>
                                            <option value="Cuba">Cuba 古巴</option>
                                            <option value="Cyprus">Cyprus 塞浦路斯</option>
                                            <option value="Czech Republic">Czech Republic 捷克</option>
                                            <option value="Denmark">Denmark 丹麥</option>
                                            <option value="Djibouti">Djibouti 吉布提</option>
                                            <option value="Dominica">Dominica 多明尼加</option>
                                            <option value="Dominican Republic">Dominican Republic 多明尼加共和國</option>
                                            <option value="East Timor">East Timor 東帝汶</option>
                                            <option value="Ecuador">Ecuador 厄瓜多爾</option>
                                            <option value="Egypt">Egypt 埃及</option>
                                            <option value="El Salvador">El Salvador 薩爾瓦多</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea 赤道幾內亞</option>
                                            <option value="Eritrea">Eritrea 厄立特里亞</option>
                                            <option value="Estonia">Estonia 愛沙尼亞</option>
                                            <option value="Ethiopia">Ethiopia 埃塞俄比亞</option>
                                            <option value="Falkland Islands">Falkland Islands 福克蘭群島</option>
                                            <option value="Faroe Islands">Faroe Islands 法羅群島</option>
                                            <option value="Fiji">Fiji 斐濟</option>
                                            <option value="Finland">Finland 芬蘭</option>
                                            <option value="France">France 法國</option>
                                            <option value="French Guiana">French Guiana 法屬圭亞那</option>
                                            <option value="French Polynesia">French Polynesia 法屬玻里尼西亞</option>
                                            <option value="Gabon">Gabon 加蓬</option>
                                            <option value="Gambia">Gambia 岡比亞</option>
                                            <option value="Georgia">Georgia 格魯吉亞</option>
                                            <option value="Germany">Germany 德國</option>
                                            <option value="Ghana">Ghana 加納</option>
                                            <option value="Gibraltar">Gibraltar 直布羅陀</option>
                                            <option value="Greece">Greece 希臘</option>
                                            <option value="Greenland">Greenland 格陵蘭</option>
                                            <option value="Grenada">Grenada 格林納達</option>
                                            <option value="Guadeloupe">Guadeloupe 瓜德羅普島</option>
                                            <option value="Guam">Guam 關島</option>
                                            <option value="Guatemala">Guatemala 危地馬拉</option>
                                            <option value="Guinea">Guinea 幾內亞</option>
                                            <option value="Guinea-Bissau">Guinea-Bissau 幾內亞比紹</option>
                                            <option value="Guyana">Guyana 圭亞那</option>
                                            <option value="Haiti">Haiti 海地</option>
                                            <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands 赫德島和麥克唐納島</option>
                                            <option value="Honduras">Honduras 洪都拉斯</option>
                                            <option value="Hong Kong">Hong Kong 香港</option>
                                            <option value="Hungary">Hungary 匈牙利</option>
                                            <option value="Iceland">Iceland 冰島</option>
                                            <option value="India">India 印度</option>
                                            <option value="Indonesia">Indonesia 印尼</option>
                                            <option value="Iran">Iran 伊朗</option>
                                            <option value="Iraq">Iraq 伊拉克</option>
                                            <option value="Ireland">Ireland 愛爾蘭</option>
                                            <option value="Israel">Israel 以色列</option>
                                            <option value="Italy">Italy 意大利</option>
                                            <option value="Jamaica">Jamaica 牙買加</option>
                                            <option value="Japan">Japan 日本</option>
                                            <option value="Jordan">Jordan 約旦</option>
                                            <option value="Kazakhstan">Kazakhstan 哈薩克斯坦</option>
                                            <option value="Kenya">Kenya 肯尼亞</option>
                                            <option value="Kiribati">Kiribati 基里巴斯</option>
                                            <option value="Kosovo">Kosovo 科索沃</option>
                                            <option value="Kuwait">Kuwait 科威特</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan 吉爾吉斯斯坦</option>
                                            <option value="Laos">Laos 老撾</option>
                                            <option value="Latvia">Latvia 拉脫維亞</option>
                                            <option value="Lebanon">Lebanon 黎巴嫩</option>
                                            <option value="Lesotho">Lesotho 萊索托</option>
                                            <option value="Liberia">Liberia 利比里亞</option>
                                            <option value="Libya">Libya 利比亞</option>
                                            <option value="Liechtenstein">Liechtenstein 列支敦士登</option>
                                            <option value="Lithuania">Lithuania 立陶宛</option>
                                            <option value="Luxembourg">Luxembourg 盧森堡</option>
                                            <option value="Macau">Macau 澳門</option>
                                            <option value="Macedonia">Macedonia 馬其頓</option>
                                            <option value="Madagascar">Madagascar 馬達加斯加</option>
                                            <option value="Malawi">Malawi 馬拉維</option>
                                            <option value="Malaysia">Malaysia 馬來西亞</option>
                                            <option value="Maldives">Maldives 馬爾代夫</option>
                                            <option value="Mali">Mali 馬里</option>
                                            <option value="Malta">Malta 馬耳他</option>
                                            <option value="Marshall Islands">Marshall Islands 馬紹爾群島</option>
                                            <option value="Martinique">Martinique 馬提尼克島</option>
                                            <option value="Mauritania">Mauritania 毛里塔尼亞</option>
                                            <option value="Mauritius">Mauritius 毛里求斯</option>
                                            <option value="Mayotte">Mayotte 馬約特島</option>
                                            <option value="Mexico">Mexico 墨西哥</option>
                                            <option value="Micronesia">Micronesia 密克羅尼西亞</option>
                                            <option value="Moldova">Moldova 摩爾多瓦</option>
                                            <option value="Monaco">Monaco 摩納哥</option>
                                            <option value="Mongolia">Mongolia 蒙古</option>
                                            <option value="Montenegro">Montenegro 黑山</option>
                                            <option value="Montserrat">Montserrat 蒙特塞拉特</option>
                                            <option value="Morocco">Morocco 摩洛哥</option>
                                            <option value="Mozambique">Mozambique 莫桑比克</option>
                                            <option value="Myanmar">Myanmar 緬甸</option>
                                            <option value="Namibia">Namibia 納米比亞</option>
                                            <option value="Nauru">Nauru 瑙魯</option>
                                            <option value="Nepal">Nepal 尼泊爾</option>
                                            <option value="Netherlands">Netherlands 荷蘭</option>
                                            <option value="Netherlands Antilles">Netherlands Antilles 荷屬安的列斯群島</option>
                                            <option value="New Caledonia">New Caledonia 新喀裡多尼亞</option>
                                            <option value="New Zealand">New Zealand 紐西蘭</option>
                                            <option value="Nicaragua">Nicaragua 尼加拉瓜</option>
                                            <option value="Niger">Niger 尼日爾</option>
                                            <option value="Nigeria">Nigeria 尼日利亞</option>
                                            <option value="Norfolk Island">Norfolk Island 諾福克島</option>
                                            <option value="North Korea">North Korea 北韓</option>
                                            <option value="Norway">Norway 挪威</option>
                                            <option value="Oman">Oman 阿曼</option>
                                            <option value="Pakistan">Pakistan 巴基斯坦</option>
                                            <option value="Palau">Palau 帕勞</option>
                                            <option value="Panama">Panama 巴拿馬</option>
                                            <option value="Papua New Guinea">Papua New Guinea 巴布亞新畿內亞</option>
                                            <option value="Paraguay">Paraguay 巴拉圭</option>
                                            <option value="Peru">Peru 秘魯</option>
                                            <option value="Philippines">Philippines 菲律賓</option>
                                            <option value="Pitcairn">Pitcairn 皮特凱恩</option>
                                            <option value="Poland">Poland 波蘭</option>
                                            <option value="Portugal">Portugal 葡萄牙</option>
                                            <option value="Puerto Rico">Puerto Rico 波多黎各</option>
                                            <option value="Qatar">Qatar 卡塔爾</option>
                                            <option value="Romania">Romania 羅馬尼亞</option>
                                            <option value="Russian Federation">Russian Federation 俄羅斯</option>
                                            <option value="Rwanda">Rwanda 盧旺達</option>
                                            <option value="Saint Helena">Saint Helena 聖赫勒拿島</option>
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis 聖基茨和尼維斯</option>
                                            <option value="Saint Lucia">Saint Lucia 聖盧西亞</option>
                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon 聖皮埃爾和密克隆</option>
                                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines 聖文森特和格林納丁斯</option>
                                            <option value="Samoa">Samoa 薩摩亞</option>
                                            <option value="San Marino">San Marino 聖馬力諾</option>
                                            <option value="Sao Tome and Principe">Sao Tome and Principe 聖多美和普林西比</option>
                                            <option value="Saudi Arabia">Saudi Arabia 沙特阿拉伯</option>
                                            <option value="Senegal">Senegal 塞內加爾</option>
                                            <option value="Serbia">Serbia 塞爾維亞</option>
                                            <option value="Seychelles">Seychelles 塞舌爾</option>
                                            <option value="Sierra Leone">Sierra Leone 塞拉利昂</option>
                                            <option value="Singapore">Singapore 新加坡</option>
                                            <option value="Slovakia">Slovakia 斯洛伐克</option>
                                            <option value="Slovenia">Slovenia 斯洛文尼亞</option>
                                            <option value="Solomon Islands">Solomon Islands 所羅門群島</option>
                                            <option value="Somalia">Somalia 索馬里</option>
                                            <option value="South Africa">South Africa 南非</option>
                                            <option value="South Georgia">South Georgia 南喬治亞</option>
                                            <option value="South Korea">South Korea 韓國</option>
                                            <option value="Spain">Spain 西班牙</option>
                                            <option value="Sri Lanka">Sri Lanka 斯里蘭卡</option>
                                            <option value="Sudan">Sudan 蘇丹</option>
                                            <option value="Suriname">Suriname 蘇里南</option>
                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen 斯瓦爾巴群島和揚馬延島</option>
                                            <option value="Swaziland">Swaziland 斯威士蘭</option>
                                            <option value="Sweden">Sweden 瑞典</option>
                                            <option value="Switzerland">Switzerland 瑞士</option>
                                            <option value="Syria">Syria 敘利亞</option>
                                            <option value="Taiwan" selected>Taiwan 台灣</option>
                                            <option value="Tajikistan">Tajikistan 塔吉克斯坦</option>
                                            <option value="Tanzania">Tanzania 坦桑尼亞</option>
                                            <option value="Thailand">Thailand 泰國</option>
                                            <option value="Togo">Togo 多哥</option>
                                            <option value="Tokelau">Tokelau 托克勞</option>
                                            <option value="Tonga">Tonga 湯加</option>
                                            <option value="Trinidad and Tobago">Trinidad and Tobago 千里達和多巴哥</option>
                                            <option value="Tunisia">Tunisia 突尼西亞</option>
                                            <option value="Turkey">Turkey 土耳其</option>
                                            <option value="Turkmenistan">Turkmenistan 土庫曼斯坦</option>
                                            <option value="Tuvalu">Tuvalu 圖瓦盧</option>
                                            <option value="Uganda">Uganda 烏干達</option>
                                            <option value="Ukraine">Ukraine 烏克蘭</option>
                                            <option value="United Arab Emirates">United Arab Emirates 阿拉伯聯合酋長國</option>
                                            <option value="United Kingdom">United Kingdom 英國</option>
                                            <option value="United States">United States 美國</option>
                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands 美國本土外小島嶼</option>
                                            <option value="Uruguay">Uruguay 烏拉圭</option>
                                            <option value="Uzbekistan">Uzbekistan 烏茲別克斯坦</option>
                                            <option value="Vanuatu">Vanuatu 瓦努阿圖</option>
                                            <option value="Vatican City">Vatican City 梵蒂岡</option>
                                            <option value="Venezuela">Venezuela 委內瑞拉</option>
                                            <option value="Vietnam">Vietnam 越南</option>
                                            <option value="Virgin Islands, British">Virgin Islands, British 英屬維京群島</option>
                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S. 美屬維京群島</option>
                                            <option value="Wallis and Futuna">Wallis and Futuna 瓦利斯和富圖納</option>
                                            <option value="Western Sahara">Western Sahara 西撒哈拉</option>
                                            <option value="Yemen">Yemen 也門</option>
                                            <option value="Zambia">Zambia 贊比亞</option>
                                            <option value="Zimbabwe">Zimbabwe 津巴布韋</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">郵遞區號</label>
                                    <div class="col-md-10">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <!-- <input type="text" name="zip" class="form-control" placeholder="郵遞區號" data-isEmpty="請輸入郵遞區號"> -->
                                            <%= f.text_field :zip, class: "form-control", placeholder: "郵遞區號", data: {isEmpty: "請輸入郵遞區號"}%>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">城市</label>
                                    <div class="col-md-10">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <!-- <input type="text" name="city" class="form-control" placeholder="城市" data-isEmpty="請輸入城市"> -->
                                            <%= f.text_field :city, class: "form-control", placeholder: "城市", data: {isEmpty: "請輸入城市"}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <h3 class="block">請確認您輸入的資訊</h3>
                        <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    個人或小型工作室
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p class="form-control-static" data-display="user[worker_type]">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    介紹自己
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">個人圖像</label>
                                    <div class="col-md-10">
                                        <img src="../../../img/staff.png" class="avatar" id="blah2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">個人簡介</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[introduction]">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">個人評介</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[review]">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">技能專長</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[skill]">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    待遇需求
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">每小時工資</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[hourly_pay]">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    所在位置
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">國家</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="country">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">郵遞區號</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[zip]">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">城市</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[city]">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btns">
                            <button type="button" class="btn btn-default btn-lg left button-previous"><i class="fa fa-long-arrow-left"></i> 上一步</button>
                            <button type="button" class="btn btn-default btn-lg right button-next">下一步 <i class="fa fa-long-arrow-right"></i></button>
                            <button type="submit" class="btn btn-primary btn-lg right button-submit">確認送出</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </form> -->
        <% end %>
    </div>
</div>
</div>
</div>


</div>
<!-- END MAIN CONTENT -->
</div>
<!-- END PAGE -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <img class="footer-logo" src="../../../img/logo103.png" alt="">
    <div class="footer-nav">
        <%= link_to "關於我們", index_about_path %>
        <span class="bar">|</span>
        <%= link_to "隱私條款", index_rule_path %>
        <span class="bar">|</span>
        <%= link_to "使用條款", index_rule_path %>
    </ul>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
<!--[if lt IE 9]>
    <script src="plugins/html5shiv.min.js"></script>
    <script src="plugins/respond.min.js"></script>
    <![endif]-->

    <script src="../../../plugins/jquery-1.11.0.min.js"></script>
    <script src="../../../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- END 核心插件 -->
    <!-- BEGIN 頁面插件 -->
    <script src="../../../plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="../../../plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="../../../plugins/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="../../../plugins/jquery-validation/dist/myMethods.js"></script>
    <script src="../../../plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script src="../../../plugins/bootbox/bootbox.min.js"></script>
    <!-- END 頁面插件 -->
    <script type="text/javascript" src="../../../js/script.js"></script>
    <script type="text/javascript" src="../../../js/page/create_profile.js"></script>

    <script>
        jQuery(document).ready(function() {
           Web.init();
           CreateProfile.init();
       });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah1').attr('src', e.target.result).width(150).height(200);
                    $('#blah2').attr('src', e.target.result).width(150).height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <!-- END JAVASCRIPTS -->
    <!-- BEGIN PIE -->
    <!--[if lte IE 9]>
    <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
    <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script>
    $(function() {
        $('input, textarea').placeholder();
        $('.main-content').each(function() {
            PIE.attach(this);
        });
    });
    </script>
    <![endif]-->
    <!-- END PIE -->
</body>
</html>
