<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title><%= I18n.t("page.title") %></title>

    <!-- BEGIN STYLE -->
    <!-- BEGIN 核心樣式 -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <!--[if gte IE 9]>
    <style type="text/css">
    .gradient {
    filter: none;
    }
    </style>
    <![endif]-->
    <!-- END 核心樣式 -->
    <!-- BEGIN 頁面插件樣式 -->
    <link rel="stylesheet" href="/plugins/jquery-autocomplete/jquery.autocomplete.css">
    <link rel="stylesheet" href="/plugins/select2/select2-metronic.css">
    <link rel="stylesheet" href="/plugins/select2/select2.css">
    <link rel="stylesheet" href="/plugins/jquery-tags-input/jquery.tagsinput.css">
    <!-- END 頁面插件樣式 -->
    <!-- BEGIN 主題樣式 -->
    <!-- END 主題樣式 -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/page/create_profile.css">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <!-- END STYLE -->
</head>
<body>
    <!-- BEGIN NAVBAR -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
                <i class="fa fa-search"></i> -->
            </button>
            <a class="navbar-brand" href="/"><img class="navbar-logo" src="/img/logo208.png" alt="快樂工作"></a>
        </div>
        <!-- <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
            <div class="navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div> -->
        <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
            <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                <li><%= link_to I18n.t("page.header.settings"), users_profile_path(current_user)  %></li>
                <li><%= link_to I18n.t("page.header.logout"), destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li><%= link_to I18n.t("page.header.login"), new_user_session_path %></li>
                <li><%= link_to I18n.t("page.header.signup"), index_sign_up_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <!-- END NAVBAR -->
    <!-- BEGIN PAGE -->

    <div class="page-content">
        <!-- BEGIN TITLE -->
        <h1 class="title"><%= I18n.t("page.profile_edit.container_title") %></h1>
        <!-- END TITLE -->
        <!-- BEGIN MAIN CONTENT -->
        <div class="main-content">

            <div class="row">
                <div class="col-md-12">
                    <div id="form_wizard_1">
                        <div class="form">
                            <!-- <form action="#" class="form-horizontal" id="submit_form"> -->
                            <%= form_for current_user, url: users_profile_path(current_user), method: :put, html: {class: "form-horizontal", id: "submit_form"} do |f| %>
                            <div class="form-wizard">
                                <div class="form-body">
                                    <ul class="nav nav-pills nav-justified steps">
                                        <li>
                                            <a href="#tab1" data-toggle="tab" class="step">
                                                <span class="number">
                                                 1
                                             </span>
                                             <span class="desc">
                                                <i class="fa fa-check"></i><%= I18n.t("page.profile_edit.step1_title") %>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab" class="step">
                                            <span class="number">
                                             2
                                         </span>
                                         <span class="desc">
                                            <i class="fa fa-check"></i><%= I18n.t("page.profile_edit.step2_title") %>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number">
                                         3
                                     </span>
                                     <span class="desc">
                                        <i class="fa fa-check"></i><%= I18n.t("page.profile_edit.step3_title") %>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div id="bar" class="progress progress-striped" role="progressbar">
                            <div class="progress-bar progress-bar-success">
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="warning_on_load" style="display: none;"><%= I18n.t("basic.alert.warning_on_load") %></div>
                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                <%= I18n.t("page.profile_edit.submit_alert") %>
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                <%= I18n.t("page.profile_edit.submit_correct") %>
                            </div>
                            <div class="tab-pane" id="tab1">
                                <div class=" portlet box light-grey">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <%= I18n.t("page.profile_edit.step1_segment1_title") %>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="radio">
                                                    <label>
                                                        <%= f.radio_button :worker_type, "1", class: "required" %>
                                                        <%= I18n.t("page.profile_edit.step1_segment1_option1") %>
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <%= f.radio_button :worker_type, "2" %>
                                                        <%= I18n.t("page.profile_edit.step1_segment1_option2") %>
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                       <%= f.radio_button :worker_type, "3" %>
                                                       <%= I18n.t("page.profile_edit.step1_segment1_option3") %>
                                                   </label>
                                               </div>
                                               <div class="radio">
                                                <label>
                                                    <%= f.radio_button :worker_type, "4" %>
                                                    <%= I18n.t("page.profile_edit.step1_segment1_option4") %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" portlet box light-grey">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <%= I18n.t("page.profile_edit.step1_segment2_title") %>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><%= I18n.t("page.profile_edit.step1_segment2_picture_title") %></label>
                                        <div class="col-md-9 divcss5">
                                        <% if not current_user.picture.nil? %>
                                            <%= image_tag url_for(:controller => "users/profiles", :action => "show_image", :id => current_user.id), id: "blah1", class: "avatar" %>
                                        <% else %>
                                            <img src="/img/staff.png" class="avatar" id="blah1">
                                        <% end %>
                                            <!-- <input type="file" name="image" class="form-control edit" onchange="readURL(this)"> -->
                                            <%= f.file_field :image, name: "image" ,class: "form-control edit", onchange: "readURL(this)" %>
                                            <p class="help-block">
                                                <%= I18n.t("page.profile_edit.step1_segment2_picture_description") %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><%= I18n.t("page.profile_edit.step1_segment2_brief_title") %><a href="javascript:;" class="show-tip" data-original-title="<%= I18n.t("page.profile_edit.step1_segment2_brief_exclamation") %>">
                                            <i class="fa fa fa-info-circle" ></i>
                                        </a></label>
                                        <div class="col-md-9">
                                            <%= f.text_area :brief_introduction, class: "form-control", rows: "3", placeholder: I18n.t("page.profile_edit.step1_segment2_brief_placeholder") %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><%= I18n.t("page.profile_edit.step1_segment2_intro_title") %><a href="javascript:;" class="show-tip" data-original-title="<%= I18n.t("page.profile_edit.step1_segment2_intro_exclamation") %>">
                                            <i class="fa fa fa-info-circle" ></i>
                                        </a></label>
                                        <div class="col-md-9">
                                            <%= f.text_area :introduction, class: "form-control", rows: "3", placeholder: I18n.t("page.profile_edit.step1_segment2_intro_title") %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><%= I18n.t("page.profile_edit.step1_segment2_skill_title") %></label>
                                        <div class="col-md-9">
                                            <%= f.text_field :user_skills, class: "form-control tags", id: "skill-tags", value: current_user.user_skills.empty? ? "" : current_user.user_skills.map {|e| e.name}.join(", "), "alert-limit" => I18n.t('page.profile_edit.step1_segment2_alert_limit')  %>
                                            <p class="help-block">
                                                <%= I18n.t("page.profile_edit.step1_segment2_skill_description") %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="tab2">
                            <div class=" portlet box light-grey">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <%= I18n.t("page.profile_edit.step2_segment1_title") %>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"><%= I18n.t("page.profile_edit.step2_segment1_pay_title") %></label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                            <%= f.text_field :hourly_pay, class: "form-control text-left", placeholder: I18n.t("page.profile_edit.step2_segment1_pay_placeholder"), id: "hourly_pay", "data-isEmpty" => I18n.t("page.profile_edit.step2_segment1_pay_end") %>
                                                <span class="input-group-addon"><%= I18n.t("page.profile_edit.step2_segment1_pay_end") %></span>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    <%= I18n.t("page.profile_edit.step2_segment2_title") %>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><%= I18n.t("page.profile_edit.step2_segment2_location_title") %></label>
                                    <div class="col-md-10">
                                       <%= f.localized_country_select :country_code, [], {:include_blank => I18n.t("page.profile_edit.step2_segment2_location_includeblank")}, {:class => 'form-control'} %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><%= I18n.t("page.profile_edit.step2_segment2_zipcode_title") %></label>
                                    <div class="col-md-10">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <%= f.text_field :zip, class: "form-control", placeholder: I18n.t("page.profile_edit.step2_segment2_zipcode_placeholder"), "data-isEmpty" => I18n.t("page.profile_edit.step2_segment2_zipcode_empty") %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><%= I18n.t("page.profile_edit.step2_segment2_city_title") %></label>
                                    <div class="col-md-10">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <%= f.text_field :city, class: "form-control", placeholder: I18n.t("page.profile_edit.step2_segment2_city_placeholder") , data: {isEmpty: I18n.t("page.profile_edit.step2_segment2_city_empty") } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <h3 class="block"><%= I18n.t("page.profile_edit.step3_confirmation")%></h3>
                        <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    <%= I18n.t("page.profile_edit.step1_segment1_title")%>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p class="form-control-static" data-display="user[worker_type]">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    <%= I18n.t("page.profile_edit.step1_segment2_title")%>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2"><%= I18n.t("page.profile_edit.step3_picture")%></label>
                                    <div class="col-md-10">
                                    <% if not current_user.picture.nil? %>
                                        <%= image_tag url_for(:controller => "users/profiles", :action => "show_image", :id => current_user.id), id: "blah2", class: "avatar" %>
                                    <% else %>
                                        <img src="/img/staff.png" class="avatar" id="blah2">
                                    <% end %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"><%= I18n.t("page.profile_edit.step3_brief")%></label>
                                    <div class="col-md-10">
                                        <i class="fa"></i>
                                        <p class="form-control-static" data-display="user[brief_introduction]">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"><%= I18n.t("page.profile_edit.step3_intro")%></label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[introduction]">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"><%= I18n.t("page.profile_edit.step3_skill")%></label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[user_skills]">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    <%= I18n.t("page.profile_edit.step2_segment1_title")%>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2"><%= I18n.t("page.profile_edit.step2_segment1_pay_title")%></label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[hourly_pay]">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    <%= I18n.t("page.profile_edit.step2_segment2_title")%>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2"><%= I18n.t("page.profile_edit.step2_segment2_location_title")%></label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[country_code]">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"><%= I18n.t("page.profile_edit.step2_segment2_zipcode_title")%></label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[zip]">
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"><%= I18n.t("page.profile_edit.step2_segment2_city_title")%></label>
                                    <div class="col-md-10">
                                        <p class="form-control-static" data-display="user[city]">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btns">
                            <!-- 回到選擇技能那個步奏 -->
                            <%= link_to(:back, style: "text-decoration: none; color:black;") do %>
                            <button type="button" class="btn btn-default btn-lg left button-previous﹣page">
                                    <i class="fa fa-long-arrow-left"></i><%= I18n.t("page.profile_edit.button_previous")%>
                            </button>
                            <% end %>
                            <button type="button" class="btn btn-default btn-lg left button-previous"><i class="fa fa-long-arrow-left"></i><%= I18n.t("page.profile_edit.button_previous") %></button>
                            <button type="button" class="btn btn-default btn-lg right button-next"><%= I18n.t("page.profile_edit.button_next") %><i class="fa fa-long-arrow-right"></i></button>
                            <button type="submit" class="btn btn-primary btn-lg right button-submit" onclick="javascript: warn_on_unload='';"><%= I18n.t("page.profile_edit.button_save") %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </form> -->
        <% end %>
    </div>
</div>
</div>
</div>


</div>
<!-- END MAIN CONTENT -->
</div>
<!-- END PAGE -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <img class="footer-logo" src="/img/logo103.png" alt="">
    <div class="footer-nav">
        <%= link_to I18n.t("page.footer.about"), index_about_path %>
        <span class="bar">|</span>
        <%= link_to I18n.t("page.footer.privacy"), index_rule_path %>
        <span class="bar">|</span>
        <%= link_to I18n.t("page.footer.termofuse"), index_rule_path %>
        <span class="bar">|</span>
        <%= mail_to "service@sun-innovation.com", I18n.t("page.footer.contact") %>
    </ul>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
<!--[if lt IE 9]>
    <script src="plugins/html5shiv.min.js"></script>
    <script src="plugins/respond.min.js"></script>
    <![endif]-->

    <script src="/plugins/jquery-1.7.2.js"></script>
    <!-- <script src="/plugins/jquery-1.11.0.min.js"></script> -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <!-- END 核心插件 -->
    <!-- BEGIN 頁面插件 -->
    <script src="/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="/plugins/jquery-validation/dist/myMethods.js"></script>
    <script src="/plugins/jquery-autocomplete/jquery.autocomplete.pack.js"></script>
    <script src="/plugins/jquery-autocomplete/jquery.autocomplete.js"></script>
    <script src="/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script src="/plugins/bootbox/bootbox.min.js"></script>
    <!-- END 頁面插件 -->
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/page/create_profile.js"></script>
    <script type="text/javascript" src="js/google_analytics.js"></script>

    <script>
        var warn_on_unload = $('#warning_on_load').html();

        jQuery(document).ready(function() {
           Web.init();
           CreateProfile.init();

            // clean all form data while user click next page to arrive here
            $("form")[0].reset();

           $(':input').bind('input', function() {
                 window.onbeforeunload = function(e) {
                    if( warn_on_unload != '' ) return warn_on_unload
                }
            });

            $('input[type=text], textarea').bind('input', function() {
                 window.onbeforeunload = function(e) {
                    if( warn_on_unload != '' ) return warn_on_unload
                }
            });

            $('input[type=file]').bind('change', function() {
                 window.onbeforeunload = function(e) {
                    if( warn_on_unload != '' ) return warn_on_unload
                }
            });

            // history.pushState("trick", null, null)

            // console.log(history.state)

            // refresh the previous page when go back
            // window.onpopstate = function() {
            //     history.back()
            // }



       });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah1').attr('src', e.target.result);
                    $('#blah2').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }



    </script>
    <!-- END JAVASCRIPTS -->
    <!-- BEGIN PIE -->
    <!--[if lte IE 9]>
    <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
    <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script>
    $(function() {
        $('input, textarea').placeholder();
        $('.main-content').each(function() {
            PIE.attach(this);
        });
    });
    </script>
    <![endif]-->
    <!-- END PIE -->
</body>
</html>
