<!DOCTYPE html>
<html>
<head>
    <%
        @seos.each do |seo|
          if seo.page == "home"
            case seo.key
            when "title"
                meta_title seo.content
            when "keywords"
                meta_keywords seo.content
            when "description"
                meta_description seo.content
            when "author"
                meta_author seo.content
            end
          end
        end
    %>

    <title><%= yield(:title).presence || "Default title" %></title>
    <meta name="keywords" content="<%= yield(:meta_keywords).presence || "default, keywords" %>" />
    <meta name="description" content="<%= yield(:meta_description).presence || "Default description" %>" />
    <meta name="author" content="<%= yield(:meta_author).presence || "Default Author" %>" />

    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta property="wb:webmaster" content="736797a53036d683" />

    <!-- <title><%= I18n.t("page.title") %></title> -->

    <!-- BEGIN STYLE -->
    <!-- BEGIN 核心樣式 -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <link rel="stylesheet" href="/plugins/swiper-master/dist/idangerous.swiper.css">
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="css/socialIcons.css">
        <link rel="stylesheet" type="text/css" href="css/page/index.css">
        <link rel="stylesheet" type="text/css" href="css/Tabbed_Slider_Carousel.css">
        <link rel="shortcut icon" href="/favicon.ico"/>
        <!-- END STYLE -->
    </head>
    <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
                    <i class="fa fa-search"></i>
                </button> -->
                <a class="navbar-brand" href="/"><img class="navbar-logo" src="/img/logo208.png" alt="快樂工作"></a>
            </div>
            <!-- <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div> -->
            <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                    <li><%= link_to I18n.t("page.header.settings"), users_profile_path(current_user)  %></li>
                    <li><%= link_to I18n.t("page.header.logout"), destroy_user_session_path, method: :delete %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">請選擇你的語言 <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu user-dropdown">
                          <li><a href="#">繁體中文</a></li>
                          <li><a href="#">简体中文</a></li>
                          <li><a href="#">English</a></li>
                      </ul>
                  </li>
                  <% else %>
                  <li><%= link_to I18n.t("page.header.login"), new_user_session_path %></li>
                  <li><%= link_to I18n.t("page.header.signup"), index_sign_up_path %></li>
                  <% end %>
              </ul>
          </div>
      </div>
      <!-- END NAVBAR -->
      <!-- BEGIN PAGE -->
      <div class="page-content">
        <!-- BEGIN MODAL -->
        <div class="modal fade" id="class-lightbox" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <%= link_to I18n.t("page.index.button_indialog_link1"), new_user_registration_path, class: "btn btn-primary btn-lg" %>
                        </div>
                        <div class="form-group">
                            <%= link_to I18n.t("page.index.button_indialog_link2"), new_user_registration_path, class: "btn btn-success btn-lg" %>
                        </div>
                        <div class="form-group">
                            <%= link_to I18n.t("page.index.button_indialog_link3"), new_user_registration_path, class: "btn btn-info btn-lg disabled" %>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- END MODAL -->
        <!-- BEGIN SWIPER -->
        <div class="swiper-1">
            <a class="arrow-left arrow" href="#"><i class="fa fa-angle-left"></i></a>
            <a class="arrow-right arrow " href="#"><i class="fa fa-angle-right"></i></a>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <!-- <img src="img/swiper/swiper4.jpg" alt="img"> -->
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :swiper, :id => @website.id) %>
                            <div class="text">
                                <p class="content"><%= I18n.t("page.index.swiper1_title1") %></p>
                                <p class="content"><%= I18n.t("page.index.swiper1_title2") %></p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <img src="img/swiper/swiper3.jpg" alt="img">
                            <div class="text">
                                <p class="title" style="color:black;"><strong><%= I18n.t("page.index.swiper2_title1") %></strong></p>
                                <p class="content"><%= I18n.t("page.index.swiper2_title2") %></p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <img src="img/swiper/swiper2.jpg" alt="img">
                            <div class="text">
                                <p class="title" style="color:black;"><strong><%= I18n.t("page.index.swiper3_title1") %></strong></p>
                                <p class="content"><%= I18n.t("page.index.swiper3_title2") %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination"></div>
        </div>
        <!-- END SWIPER -->
        <!-- BEGIN LOGIN -->
        <% if not current_user %>
        <div class="login">
            <p class="title"><%= I18n.t("page.index.frame_login_title") %></p>
            <%= form_for :user, url: new_user_registration_path, method: :get, html: {class: "login-form"} do |f|%>
            <% if alert %>
            <p class="alert form-group alert-danger"><%= alert %></p>
            <% end %>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <%= f.text_field :username, name: "username", class: "form-control", placeholder: I18n.t("page.index.input_placeholder_username"), onkeydown: "return constrain_Eng_and_num(event)", required: true %>
            </div>
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <%= f.email_field :email, name: "email", class: "form-control", placeholder: I18n.t("page.index.input_placeholder_email"), required: true %>
            </div>
            <input type="submit" class="btn" value="<%= I18n.t("page.index.frame_login_button") %>">
            <% end %>
            <!-- </form> -->
            <div class="social">
                <p class="social-text"><%= I18n.t("page.index.frame_login_social") %></p>
                <ul class="social-icons">
                    <li>
                        <!-- <a class="facebook" data-original-title="facebook" href="#"></a> -->
                        <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "facebook", data:{original:{title:"facebook"}} %>
                    </li>
                    <li>
                        <!-- <a class="googleplus" data-original-title="Goole Plus" href="#"></a> -->
                        <%= link_to "Google", user_omniauth_authorize_path(:google_oauth2), class: "googleplus",  data:{original:{title:"Goole Plus"}} %>
                    </li>
                        <!-- <li>
                            <a class="yahoo" data-original-title="Yahoo!" href="#">
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="login_min">
                <a href="<%= new_user_registration_path %>">
                    <p class="title"><%= I18n.t("page.index.frame_login_title_min") %></p>
                </a>
            </div>
            <% end %>
            <!-- END LOGIN -->
            <!-- BEGIN CLASS -->
            <div class="class">
                <h1 style="text-align:center; color:#E05E3E;"><%= I18n.t("page.index.container_title") %></h1>
                <div class="row">
                    <!-- <div class="col-md-3 col-sm-4 col-xs-6 item">
                        <a data-toggle="modal" href="#class-lightbox">
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :it_software, :id => @website.id), alt: "IT & software" %>
                            <p><%= t(:"main_skill_category")[0]['name'] %></p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 item">
                        <a data-toggle="modal" href="#class-lightbox">
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :science_engineer, :id => @website.id), alt: "工程 & 科學" %>
                            <p><%= t(:"main_skill_category")[1]['name'] %></p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 item">
                        <a data-toggle="modal" href="#class-lightbox">
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :creativity_design, :id => @website.id), alt: "design" %>
                            <p><%= t(:"main_skill_category")[2]['name'] %></p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 item">
                        <a data-toggle="modal" href="#class-lightbox">
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :sales, :id => @website.id), alt: "marketing" %>
                            <p><%= t(:"main_skill_category")[3]['name'] %></p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 item">
                        <a data-toggle="modal" href="#class-lightbox">
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :service, :id => @website.id), alt: "img" %>
                            <p><%= t(:"main_skill_category")[4]['name'] %></p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 item">
                        <a data-toggle="modal" href="#class-lightbox">
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :business, :id => @website.id), alt: "accounting" %>
                            <p><%= t(:"main_skill_category")[5]['name'] %></p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 item">
                        <a data-toggle="modal" href="#class-lightbox">
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :writness, :id => @website.id), alt: "writing" %>
                            <p><%= t(:"main_skill_category")[6]['name'] %></p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 item">
                        <a data-toggle="modal" href="#class-lightbox">
                            <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @website.class.name, :attribute => :consulting, :id => @website.id), alt: "img" %>
                            <p><%= t(:"main_skill_category")[7]['name'] %></p>
                        </a>
                    </div> -->

                    <% @main_skill_classes.each do |m| %>
                        <div class="col-md-3 col-sm-4 col-xs-6 item">
                            <a data-toggle="modal" href="#class-lightbox">
                                <!-- <img src="img/class/class_8.jpg" alt="img"> -->
                                <%= image_tag url_for(:controller => "/application", :action => "show_image", :model =>m.class.name, :attribute => :picture, :id => m.id), alt: "img" %>
                                <p><%= m.name %></p>
                            </a>
                        </div>
                    <% end %>

                </div>
               <!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div> -->
            </div>
            <!-- END CLASS -->

            <!-- BEGIN WORKS -->
            <div class="works">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#work1" data-toggle="tab" style="font-size:1.5em; font-weight:bold;">
                            <%= I18n.t("page.index.tabA1_title") %>
                        </a>

                    </li>
                    <li>
                        <a href="#work2" data-toggle="tab" style="font-size:1.5em; font-weight:bold;">
                            <%= I18n.t("page.index.tabA2_title") %>
                        </a>

                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="work1">
                        <a class="arrow-left arrow" href="#"><i class="fa fa-angle-left"></i></a>
                        <a class="arrow-right arrow " href="#"><i class="fa fa-angle-right"></i></a>
                        <div class="cover"></div>
                        <div class="tabs">
                            <table>
                                <tr>
                                    <td><a href="#" class="active"><%= I18n.t("page.index.tabA1_step1_title") %></a></td>
                                    <td><span class="nav_arrow"></span></td>
                                    <td><a href="#"><%= I18n.t("page.index.tabA1_step2_title") %></a></td>
                                    <td><span class="nav_arrow"></span></td>
                                    <td><a href="#"><%= I18n.t("page.index.tabA1_step3_title") %></a></td>
                                    <td><span class="nav_arrow"></span></td>
                                    <td><a href="#"><%= I18n.t("page.index.tabA1_step4_title") %></a></td>
                                </tr>
                            </table>
                            <img class="nav_line" src="img/works/nav_line.png" alt="line">
                        </div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="content-slide">
                                        <img class="back" src="img/works/works_1_2.jpg" alt="ing">
                                        <img class="back_min" src="img/works/works_min_1_2.jpg" alt="img">
                                        <div class="text hidden-xs hidden-sm" style="position:relative; float:left; padding-left:60px;">
                                            <p class="step"><%= I18n.t("page.index.tabA1_step1_cotent1") %></p>
                                            <p class="title"><%= I18n.t("page.index.tabA1_step1_cotent2") %></p>
                                            <p class="content"><%= I18n.t("page.index.tabA1_step1_cotent3") %></p>
                                        </div>
                                        <div class="text hidden-md hidden-lg">
                                            <p class="step"><%= I18n.t("page.index.tabA1_step1_cotent1") %></p>
                                            <p class="title"><%= I18n.t("page.index.tabA1_step1_cotent2") %></p>
                                            <p class="content"><%= I18n.t("page.index.tabA1_step1_cotent3") %></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content-slide">
                                        <img class="back" src="img/works/works_1_2.jpg" alt="img">
                                        <img class="back_min" src="img/works/works_min_1_2.jpg" alt="img">
                                        <div class="text hidden-xs hidden-sm" style="position:relative; float:left; padding-left:60px;">
                                            <p class="step"><%= I18n.t("page.index.tabA1_step2_cotent1") %></p>
                                            <p class="title"><%= I18n.t("page.index.tabA1_step2_cotent2") %>/p>
                                                <p class="content"><%= I18n.t("page.index.tabA1_step2_cotent3") %></p>
                                            </div>
                                            <div class="text hidden-md hidden-lg">
                                                <p class="step"><%= I18n.t("page.index.tabA1_step2_cotent1") %></p>
                                                <p class="title"><%= I18n.t("page.index.tabA1_step2_cotent2") %>/p>
                                                    <p class="content"><%= I18n.t("page.index.tabA1_step2_cotent3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="content-slide">
                                                <img class="back" src="img/works/works_1_2.jpg" alt="img">
                                                <img class="back_min" src="img/works/works_min_1_2.jpg" alt="img">
                                                <div class="text hidden-xs hidden-sm" style="position:relative; float:left; padding-left:60px;">
                                                    <p class="step"><%= I18n.t("page.index.tabA1_step3_cotent1") %></p>
                                                    <p class="title"><%= I18n.t("page.index.tabA1_step3_cotent2") %></p>
                                                    <p class="content"><%= I18n.t("page.index.tabA1_step3_cotent3") %></p>
                                                </div>
                                                <div class="text hidden-md hidden-lg">
                                                    <p class="step"><%= I18n.t("page.index.tabA1_step3_cotent1") %></p>
                                                    <p class="title"><%= I18n.t("page.index.tabA1_step3_cotent2") %></p>
                                                    <p class="content"><%= I18n.t("page.index.tabA1_step3_cotent3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="content-slide">
                                                <img class="back" src="img/works/works_1_2.jpg" alt="img">
                                                <img class="back_min" src="img/works/works_min_1_2.jpg" alt="img">
                                                <div class="text hidden-xs hidden-sm" style="position:relative; float:left; padding-left:60px;">
                                                    <p class="step"><%= I18n.t("page.index.tabA1_step4_cotent1") %></p>
                                                    <p class="title"><%= I18n.t("page.index.tabA1_step4_cotent2") %></p>
                                                    <p class="content"><%= I18n.t("page.index.tabA1_step4_cotent3") %></p>
                                                </div>
                                                <div class="text hidden-md hidden-lg">
                                                    <p class="step"><%= I18n.t("page.index.tabA1_step4_cotent1") %></p>
                                                    <p class="title"><%= I18n.t("page.index.tabA1_step4_cotent2") %></p>
                                                    <p class="content"><%= I18n.t("page.index.tabA1_step4_cotent3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="work2">
                                <a class="arrow-left arrow" href="#"><i class="fa fa-angle-left"></i></a>
                                <a class="arrow-right arrow " href="#"><i class="fa fa-angle-right"></i></a>
                                <div class="cover"></div>
                                <div class="tabs">
                                    <table>
                                        <tr>
                                            <td><a href="#" class="active"><%= I18n.t("page.index.tabA2_step1_title") %></a></td>
                                            <td><span class="nav_arrow"></span></td>
                                            <td><a href="#"><%= I18n.t("page.index.tabA2_step2_title") %></a></td>
                                            <td><span class="nav_arrow"></span></td>
                                            <td><a href="#"><%= I18n.t("page.index.tabA2_step3_title") %></a></td>
                                            <td><span class="nav_arrow"></span></td>
                                            <td><a href="#"><%= I18n.t("page.index.tabA2_step4_title") %></a></td>
                                        </tr>
                                    </table>
                                    <img class="nav_line" src="img/works/nav_line.png" alt="img">
                                </div>
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="content-slide">
                                                <img class="back" src="img/works/works_1_1.jpg" alt="img">
                                                <img class="back_min" src="img/works/works_min_1_1.jpg" alt="img">
                                                <div class="text" style=" float:right; padding-right:60px;">
                                                    <p class="step"><%= I18n.t("page.index.tabA2_step1_cotent1") %></p>
                                                    <p class="title"><%= I18n.t("page.index.tabA2_step1_cotent2") %></p>
                                                    <p class="content"><%= I18n.t("page.index.tabA2_step1_cotent3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="content-slide">
                                                <img class="back" src="img/works/works_1_1.jpg" alt="img">
                                                <img class="back_min" src="img/works/works_min_1_1.jpg" alt="img">
                                                <div class="text" style=" float:right; padding-right:60px;">
                                                    <p class="step"><%= I18n.t("page.index.tabA2_step2_cotent1") %></p>
                                                    <p class="title"><%= I18n.t("page.index.tabA2_step2_cotent2") %></p>
                                                    <p class="content"><%= I18n.t("page.index.tabA2_step2_cotent3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="content-slide">
                                                <img class="back" src="img/works/works_1_1.jpg" alt="img">
                                                <img class="back_min" src="img/works/works_min_1_1.jpg" alt="img">
                                                <div class="text" style=" float:right; padding-right:60px;">
                                                    <p class="step"><%= I18n.t("page.index.tabA2_step3_cotent1") %></p>
                                                    <p class="title"><%= I18n.t("page.index.tabA2_step3_cotent2") %></p>
                                                    <p class="content"><%= I18n.t("page.index.tabA2_step3_cotent3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="content-slide">
                                                <img class="back" src="img/works/works_1_1.jpg" alt="img">
                                                <img class="back_min" src="img/works/works_min_1_1.jpg" alt="img">
                                                <div class="text" style=" float:right; padding-right:60px;">
                                                    <p class="step"><%= I18n.t("page.index.tabA2_step4_cotent1") %></p>
                                                    <p class="title"><%= I18n.t("page.index.tabA2_step4_cotent2") %></p>
                                                    <p class="content"><%= I18n.t("page.index.tabA2_step4_cotent3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WORKS -->

                    <div class="marpad"> <!--TABBED SLIDER-->
                        <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
                            <div class="controls">
                                <ul class="nav hidden-xs a-color">
                                    <li data-target="#custom_carousel" data-slide-to="0" class="active"><a href="#"><%= I18n.t("page.index.tabB1_title") %></a></li>
                                    <li data-target="#custom_carousel" data-slide-to="1"><a href="#"><%= I18n.t("page.index.tabB2_title") %></a></li>
                                    <li data-target="#custom_carousel" data-slide-to="2"><a href="#"><%= I18n.t("page.index.tabB3_title") %></a></li>
                                    <li data-target="#custom_carousel" data-slide-to="3"><a href="#"><%= I18n.t("page.index.tabB4_title") %></a></li>
                                </ul>
                            </div>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-3 hidden-xs hidden-sm marpad"><img src="img/teleworklife/telework01.jpg"></div>
                                            <div class="col-xs-3 hidden-lg hidden-md marpad img-dark"><img src="img/teleworklife/telework01.jpg" style="position:relative; margin-left: -160px;"></div>
                                            <div class="col-md-5 col-sm-7 col-xs-9 pull-right">
                                                <div class="tab-slider-tex hidden-sm hidden-xs">
                                                    <p><%= I18n.t("page.index.tabB1_content1") %></p>
                                                    <p><%= I18n.t("page.index.tabB1_content2") %></p>
                                                    <p><%= I18n.t("page.index.tabB1_content3") %></p>
                                                </div>
                                                <div class="tab-slider-tex02 hidden-lg hidden-md">
                                                    <p><%= I18n.t("page.index.tabB1_content1") %></p>
                                                    <p><%= I18n.t("page.index.tabB1_content2") %></p>
                                                    <p><%= I18n.t("page.index.tabB1_content3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-3 hidden-xs hidden-sm hidden-md marpad"><img src="img/teleworklife/telework02.jpg"></div>
                                            <div class="col-xs-3 hidden-lg hidden-xs hidden-sm marpad"><img src="img/teleworklife/telework02.jpg" style="position:relative; margin-left: -360px;"></div>
                                            <div class="col-xs-3 hidden-lg hidden-md img-dark marpad"><img src="img/teleworklife/telework02.jpg" style="position:relative; margin-left: -360px;"></div>
                                            <div class="col-md-5 col-sm-7 col-xs-9 pull-right">
                                                <div class="tab-slider-tex hidden-sm hidden-xs ">
                                                    <p><%= I18n.t("page.index.tabB1_content1") %></p>
                                                    <p><%= I18n.t("page.index.tabB1_content2") %></p>
                                                    <p><%= I18n.t("page.index.tabB1_content3") %></p>
                                                </div>
                                                <div class="tab-slider-tex02 hidden-lg hidden-md">
                                                    <p><%= I18n.t("page.index.tabB1_content1") %></p>
                                                    <p><%= I18n.t("page.index.tabB1_content2") %></p>
                                                    <p><%= I18n.t("page.index.tabB1_content3") %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container-fluid">
                                         <div class="row">
                                            <div class="col-md-3 col-xs-3 hidden-md hidden-xs hidden-sm marpad"><img src="img/teleworklife/telework03.jpg"></div>
                                            <div class="col-xs-3 hidden-lg  marpad img-dark"><img src="img/teleworklife/telework03.jpg" style="position:relative; margin-left: -360px;"></div>
                                            <div class="col-md-5 col-xs-9 pull-right">
                                               <div class="tab-slider-tex hidden-sm hidden-xs">
                                                <p><%= I18n.t("page.index.tabB1_content1") %></p>
                                                <p><%= I18n.t("page.index.tabB1_content2") %></p>
                                                <p><%= I18n.t("page.index.tabB1_content3") %></p>
                                            </div>
                                            <div class="tab-slider-tex02 hidden-lg hidden-md">
                                                <p><%= I18n.t("page.index.tabB1_content1") %></p>
                                                <p><%= I18n.t("page.index.tabB1_content2") %></p>
                                                <p><%= I18n.t("page.index.tabB1_content3") %></p>
                                            </div>
                                           </div>
                                       </div>
                                    </div>
                                </div>
                           <div class="item">
                            <div class="container-fluid">
                             <div class="row">
                               <div class="col-md-3 col-xs-3 hidden-md hidden-xs hidden-sm marpad"><img src="img/teleworklife/telework04.jpg"></div>
                               <div class="col-xs-3 hidden-lg marpad hidden-xs hidden-sm"><img src="img/teleworklife/telework04.jpg" style="position:relative; margin-left: -160px;"></div>
                               <div class="col-xs-3 hidden-lg hidden-md  marpad img-dark"><img src="img/teleworklife/telework04.jpg" style="position:relative; margin-left: -160px;"></div>
                               <div class="col-md-5 col-sm-7 col-xs-9 pull-right">
                                <div class="tab-slider-tex hidden-sm hidden-xs"><p><%= I18n.t("page.index.tabB1_content1") %></p><p><%= I18n.t("page.index.tabB1_content2") %></p><p><%= I18n.t("page.index.tabB1_content3") %></p></div>
                                <div class="tab-slider-tex02 hidden-lg hidden-md"><p><%= I18n.t("page.index.tabB1_content1") %></p><p><%= I18n.t("page.index.tabB1_content2") %></p><p><%= I18n.t("page.index.tabB1_content3") %></p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Item -->
            </div>
            <!-- End Carousel Inner -->

        </div>
        <!-- End Carousel -->
    </div><!--END TABBED SLIDER-->





    <!-- BEGIN DOWN -->
    <div class="row down" style="margin-bottom:0px; padding-bottom:0px;">
        <div class="box employer">
            <p class="title">
                <%= I18n.t("page.index.frame1_title") %>
                <!--<img src="img/works/title_arrow.png" alt="img">-->
            </p>
            <table class="content">
                <tr>
                    <td class="padding" rowspan="2"></td>
                    <td class="item"><img src="img/works/employer_1.png" alt="img"></td>
                    <td class="arrow"><img src="img/works/employer_arrow.png" alt="img"></td>
                    <td class="item"><img src="img/works/employer_2.png" alt="img"></td>
                    <td class="arrow"><img src="img/works/employer_arrow.png" alt="img"></td>
                    <td class="item"><img src="img/works/employer_3.png" alt="img"></td>
                    <td class="padding" rowspan="2"></td>
                </tr>
                <tr>
                    <td class="text"><%= I18n.t("page.index.frame1_step1") %></td>
                    <td></td>
                    <td class="text"><%= I18n.t("page.index.frame1_step2") %></td>
                    <td></td>
                    <td class="text"><%= I18n.t("page.index.frame1_step3") %></td>
                </tr>
            </table>
        </div>
        <div class="box staff">
            <p class="title">
                <%= I18n.t("page.index.frame2_title") %>
                <!--<img src="img/works/title_arrow.png" alt="img">-->
            </p>
            <table class="content">
                <tr>
                    <td class="padding" rowspan="2"></td>
                    <td class="item"><img src="img/works/staff_1.png" alt="img"></td>
                    <td class="arrow"><img src="img/works/staff_arrow.png" alt="img"></td>
                    <td class="item"><img src="img/works/staff_2.png" alt="img"></td>
                    <td class="arrow"><img src="img/works/staff_arrow.png" alt="img"></td>
                    <td class="item"><img src="img/works/staff_3.png" alt="img"></td>
                    <td class="padding" rowspan="2"></td>
                </tr>
                <tr>
                    <td class="text"><%= I18n.t("page.index.frame2_step1") %></td>
                    <td></td>
                    <td class="text"><%= I18n.t("page.index.frame2_step2") %></td>
                    <td></td>
                    <td class="text"><%= I18n.t("page.index.frame2_step3") %></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- END DOWN -->




</div>
<!-- END PAGE -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <img class="footer-logo" src="/img/logo103.png" alt="">
    <div class="footer-nav">
        <!-- <%= link_to I18n.t("page.footer.about"), index_about_path %>
        <span class="bar">|</span>
        <%= link_to I18n.t("page.footer.privacy"), index_rule_path %>
        <span class="bar">|</span>
        <%= link_to I18n.t("page.footer.termofuse"), index_rule_path %>
        <span class="bar">|</span> -->
        <% @menus.each do |m| %>
            <%= link_to m.label, m.link %>
            <span class="bar">|</span>
        <% end %>
        <%= mail_to "service@sun-innovation.com", I18n.t("page.footer.contact") %>
    </ul>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
<!--[if lt IE 9]>
    <script src="plugins/html5shiv.min.js"></script>
    <script src="plugins/respond.min.js"></script>
    <![endif]-->

    <script src="plugins/jquery-1.11.0.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <!-- END 核心插件 -->
    <!-- BEGIN 頁面插件 -->
    <script src="plugins/swiper-master/dist/idangerous.swiper-2.4.min.js"></script>
    <!-- END 頁面插件 -->
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/page/index.js"></script>
    <script type="text/javascript" src="/js/google_analytics.js"></script>
    <script>
        jQuery(document).ready(function() {
         Web.init();
         Index.init();
     });
    </script>


    <script>
    // JavaScript Document

    $(document).ready(function(ev){
        $('#custom_carousel').on('slide.bs.carousel', function (evt) {
          $('#custom_carousel .controls li.active').removeClass('active');
          $('#custom_carousel .controls li:eq('+$(evt.relatedTarget).index()+')').addClass('active');
      })
    });

    function constrain_Eng_and_num(e) {
        var keynum, keychar, check
         // IE
         if(window.event) {
            keynum = e.keyCode
        } else if(e.which) {  // Netscape/Firefox/Opera
            keynum = e.which
        }
        console.log(keynum)
        if( keynum == 8 || keynum == 9 || keynum == 13 || keynum == 189 ) return true
            keychar = String.fromCharCode(keynum)
        // console.log(keychar)
        check = /\w/
        // console.log(check.test(keychar))
        return check.test(keychar)
    }


</script>


<!-- END JAVASCRIPTS -->
<!-- BEGIN PIE -->
<!--[if lte IE 9]>
<script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
<script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script>
$(function() {
    $('input, textarea').placeholder();
    $('.class .item p,.class .item img').each(function() {
        PIE.attach(this);
    });
});
</script>
<![endif]-->
<!-- END PIE -->

</body>
</html>
