<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>快樂工作</title>

    <!-- BEGIN STYLE -->
    <!-- BEGIN 核心樣式 -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <link rel="stylesheet" href="/plugins/jquery-tags-input/jquery.tagsinput.css">
        <link rel="stylesheet" href="/plugins/select2/select2.css">
        <link rel="stylesheet" href="/plugins/select2/select2-metronic.css">
        <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/datepicker.css">
        <link rel="stylesheet" href="/plugins/dropzone/css/dropzone.css">
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/alert.css">
        <link rel="stylesheet" type="text/css" href="/css/page/personal_profile.css">
        <link rel="shortcut icon" href="/favicon.ico"/>
        <!-- END STYLE -->
    </head>
    <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <!--  <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
                    <i class="fa fa-search"></i>
                </button>
            -->
            <a class="navbar-brand" href="/index.html"><img class="navbar-logo" src="/img/logo208.png" alt="快樂工作"></a>
        </div>
        <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
              <!--  <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div> -->
            </div>
            <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                    <li><%= link_to "會員登出", destroy_user_session_path, method: :delete %></li>
                    <% else %>
                    <li><%= link_to "會員登入", new_user_session_path %></li>
                    <li><%= link_to "免費註冊", index_sign_up_path %></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <!-- END NAVBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <h1 class="title">個人設定</h1>
            <!-- BEGIN MAIN CONTENT -->
            <div class="main-content">
                <!-- BEGIN TABS -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="/#profile" data-toggle="tab">我的企業資料</a></li>
                    <li><a href="/#password" data-toggle="tab">變更密碼</a></li>
                </ul>
                <!-- END TABS -->
                <!-- BEGIN TAB CONTENT -->
                <div class="tab-content">
                    <div class="tab-pane" id="contact">
                        <div class="portlet box light-grey show-view" id="contact-portlet1">
                            <div class="portlet-title">
                                <div class="caption">
                                    基本資訊
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="tool-edit view" data-original-title="編輯" data-portlet="#contact-portlet1">
                                        <i class="fa fa-pencil-square-o"></i> 編輯
                                    </a>
                                    <a href="javascript:;" class="tool-save edit" data-original-title="儲存" data-portlet="#contact-portlet1">
                                        <i class="fa fa-floppy-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form action="#" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">姓氏</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view" >Chou</p>
                                            <input type="text" name="lastname" class="form-control edit" placeholder="姓氏" value="Chou">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">名字</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view">Chou</p>
                                            <input type="text" name="name" class="form-control edit" placeholder="名字" value="Chris">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">企業圖像</label>
                                        <div class="col-md-10">
                                            <!-- <img src="/img/staff.png" class="avatar" alt=""> -->
                                            <%= image_tag url_for(:controller => "users/employer/company/profiles", :action => "show_image", :id => @company.id), id: "blah1", class: "avatar" %>
                                            <input type="file" name="image" class="form-control edit" onchange="readURL(this)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">電子郵件</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view">Chris.Chou@sun-innovation.com</p>
                                            <input type="text" name="email" class="form-control edit" placeholder="電子郵件" value="Chris.Chou@sun-innovation.com" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">國碼</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view">+886</p>
                                            <input type="text" name="phone" class="form-control edit" placeholder="國碼" value="+886">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">聯絡電話</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view">55 230 000</p>
                                            <input type="text" name="phone" class="form-control edit" placeholder="聯絡電話" value="55 230 000">
                                        </div>
                                        <div class="pull-right" style="margin:20px 16px 0 0;">
                                            <button onClick=" javascript:;"  class="btn btn-default tool-save edit" data-original-title="儲存" data-portlet="#contact-portlet1">儲存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class=" portlet box light-grey show-view" id="contact-portlet2">
                            <div class="portlet-title">
                                <div class="caption">
                                    我的位置
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="tool-edit view" data-original-title="編輯" data-portlet="#contact-portlet2">
                                        <i class="fa fa-pencil-square-o"></i> 編輯
                                    </a>
                                    <a href="javascript:;" class="tool-save edit" data-original-title="儲存" data-portlet="#contact-portlet2">
                                        <i class="fa fa-floppy-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form action="#" id="contact-form1" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">時區</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view">UTC+8 Taipei</p>
                                            <select name="timeZone" class="form-control edit">
                                                <option value="-12">UTC-12 Baker Island Time</option>
                                                <option value="-11">UTC-11 Niue Time, Samoa Standard Time</option>
                                                <option value="-10">UTC-10 Hawaii-Aleutian Standard Time, Cook Island Time</option>
                                                <option value="-9.5">UTC-9:30 Marquesas Islands Time</option>
                                                <option value="-9">UTC-9 Alaska Standard Time, Gambier Island Time</option>
                                                <option value="-8">UTC-8 Pacific Standard Time</option>
                                                <option value="-7">UTC-7 Mountain Standard Time</option>
                                                <option value="-6">UTC-6 Central Standard Time</option>
                                                <option value="-5">UTC-5 Eastern Standard Time</option>
                                                <option value="-4.5">UTC-4:30 Venezuelan Standard Time</option>
                                                <option value="-4">UTC-4 Atlantic Standard Time</option>
                                                <option value="-3.5">UTC-3:30 Newfoundland Standard Time</option>
                                                <option value="-3">UTC-3 Amazon Standard Time, Central Greenland Time</option>
                                                <option value="-2">UTC-2 Fernando de Noronha Time, South Georgia &amp; the South Sandwich Islands Time</option>
                                                <option value="-1">UTC-1 Azores Standard Time, Cape Verde Time, Eastern Greenland Time</option>
                                                <option value="0" selected="selected">UTC Western European Time, Greenwich Mean Time</option>
                                                <option value="1">UTC+1 Central European Time, West African Time</option>
                                                <option value="2">UTC+2 Eastern European Time, Central African Time</option>
                                                <option value="3">UTC+3 Moscow Standard Time, Eastern African Time</option>
                                                <option value="3.5">UTC+3:30 Iran Standard Time</option>
                                                <option value="4">UTC+4 Gulf Standard Time, Samara Standard Time</option>
                                                <option value="4.5">UTC+4:30 Afghanistan Time</option>
                                                <option value="5">UTC+5 Pakistan Standard Time, Yekaterinburg Standard Time</option>
                                                <option value="5.5">UTC+5:30 Indian Standard Time, Sri Lanka Time</option>
                                                <option value="5.75">UTC+5:45 Nepal Time</option>
                                                <option value="6">UTC+6 Bangladesh Time, Bhutan Time, Novosibirsk Standard Time</option>
                                                <option value="6.5">UTC+6:30 Cocos Islands Time, Myanmar Time</option>
                                                <option value="7">UTC+7 Indochina Time, Krasnoyarsk Standard Time</option>
                                                <option value="8">UTC+8 Chinese Standard Time, Australian Western Standard Time, Irkutsk Standard Time</option>
                                                <option value="8.75">UTC+8:45 Southeastern Western Australia Standard Time</option>
                                                <option value="9">UTC+9 Japan Standard Time, Korea Standard Time, Chita Standard Time</option>
                                                <option value="9.5">UTC+9:30 Australian Central Standard Time</option>
                                                <option value="10">UTC+10 Australian Eastern Standard Time, Vladivostok Standard Time</option>
                                                <option value="10.5">UTC+10:30 Lord Howe Standard Time</option>
                                                <option value="11">UTC+11 Solomon Island Time, Magadan Standard Time</option>
                                                <option value="11.5">UTC+11:30 Norfolk Island Time</option>
                                                <option value="12">UTC+12 New Zealand Time, Fiji Time, Kamchatka Standard Time</option>
                                                <option value="12.75">UTC+12:45 Chatham Islands Time</option>
                                                <option value="13">UTC+13 Tonga Time, Phoenix Islands Time</option>
                                                <option value="14">UTC+14 Line Island Time</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">所在地區</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view">Taiwan</p>
                                            <select name="country" class="form-control edit">
                                                <option value="Afghanistan">Afghanistan 阿富汗</option>
                                                <option value="Albania">Albania 阿爾巴尼亞</option>
                                                <option value="Algeria">Algeria 阿爾及利亞</option>
                                                <option value="American Samoa">American Samoa 美屬薩摩亞</option>
                                                <option value="Andorra">Andorra 安道爾</option>
                                                <option value="Angola">Angola 安哥拉</option>
                                                <option value="Anguilla">Anguilla 安圭拉</option>
                                                <option value="Antarctica">Antarctica 南極洲</option>
                                                <option value="Antigua and Barbuda">Antigua and Barbuda 安提瓜和巴布達</option>
                                                <option value="Argentina">Argentina 阿根廷</option>
                                                <option value="Armenia">Armenia 亞美尼亞</option>
                                                <option value="Aruba">Aruba 阿魯巴</option>
                                                <option value="Australia">Australia 澳洲</option>
                                                <option value="Austria">Austria 奧地利</option>
                                                <option value="Azerbaijan">Azerbaijan 阿塞拜疆</option>
                                                <option value="Bahamas">Bahamas 巴哈馬</option>
                                                <option value="Bahrain">Bahrain 巴林</option>
                                                <option value="Bangladesh">Bangladesh 孟加拉</option>
                                                <option value="Barbados">Barbados 巴巴多斯</option>
                                                <option value="Belarus">Belarus 白俄羅斯</option>
                                                <option value="Belgium">Belgium 比利時</option>
                                                <option value="Belize">Belize 伯利茲</option>
                                                <option value="Benin">Benin 貝寧</option>
                                                <option value="Bermuda">Bermuda 百慕達</option>
                                                <option value="Bhutan">Bhutan 不丹</option>
                                                <option value="Bolivia">Bolivia 玻利維亞</option>
                                                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina 波斯尼亞和黑塞哥維那</option>
                                                <option value="Botswana">Botswana 博茨瓦納</option>
                                                <option value="Bouvet Island">Bouvet Island 布維島</option>
                                                <option value="Brazil">Brazil 巴西</option>
                                                <option value="British Indian Ocean Territory">British Indian Ocean Territory 英屬印度洋領地</option>
                                                <option value="Brunei Darussalam">Brunei Darussalam 文萊</option>
                                                <option value="Bulgaria">Bulgaria 保加利亞</option>
                                                <option value="Burkina Faso">Burkina Faso 布基納法索</option>
                                                <option value="Burundi">Burundi 布隆迪</option>
                                                <option value="Cambodia">Cambodia 柬埔寨</option>
                                                <option value="Cameroon">Cameroon 喀麥隆</option>
                                                <option value="Canada">Canada 加拿大</option>
                                                <option value="Cape Verde">Cape Verde 佛得角</option>
                                                <option value="Cayman Islands">Cayman Islands 開曼群島</option>
                                                <option value="Central African Republic">Central African Republic 中非共和國</option>
                                                <option value="Chad">Chad 乍得</option>
                                                <option value="Chile">Chile 智利</option>
                                                <option value="China">China 中國</option>
                                                <option value="Christmas Island">Christmas Island 聖誕島</option>
                                                <option value="Cocos Islands">Cocos Islands 科科斯群島</option>
                                                <option value="Colombia">Colombia 哥倫比亞</option>
                                                <option value="Comoros">Comoros 科摩羅</option>
                                                <option value="Congo">Congo, Republic of the 剛果共和國</option>
                                                <option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the 剛果民主共和國</option>
                                                <option value="Cook Islands">Cook Islands 庫克群島</option>
                                                <option value="Costa Rica">Costa Rica 哥斯達黎加</option>
                                                <option value="Cote d'Ivoire">Cote d'Ivoire 科特迪瓦</option>
                                                <option value="Croatia">Croatia 克羅地亞</option>
                                                <option value="Cuba">Cuba 古巴</option>
                                                <option value="Cyprus">Cyprus 塞浦路斯</option>
                                                <option value="Czech Republic">Czech Republic 捷克</option>
                                                <option value="Denmark">Denmark 丹麥</option>
                                                <option value="Djibouti">Djibouti 吉布提</option>
                                                <option value="Dominica">Dominica 多明尼加</option>
                                                <option value="Dominican Republic">Dominican Republic 多明尼加共和國</option>
                                                <option value="East Timor">East Timor 東帝汶</option>
                                                <option value="Ecuador">Ecuador 厄瓜多爾</option>
                                                <option value="Egypt">Egypt 埃及</option>
                                                <option value="El Salvador">El Salvador 薩爾瓦多</option>
                                                <option value="Equatorial Guinea">Equatorial Guinea 赤道幾內亞</option>
                                                <option value="Eritrea">Eritrea 厄立特里亞</option>
                                                <option value="Estonia">Estonia 愛沙尼亞</option>
                                                <option value="Ethiopia">Ethiopia 埃塞俄比亞</option>
                                                <option value="Falkland Islands">Falkland Islands 福克蘭群島</option>
                                                <option value="Faroe Islands">Faroe Islands 法羅群島</option>
                                                <option value="Fiji">Fiji 斐濟</option>
                                                <option value="Finland">Finland 芬蘭</option>
                                                <option value="France">France 法國</option>
                                                <option value="French Guiana">French Guiana 法屬圭亞那</option>
                                                <option value="French Polynesia">French Polynesia 法屬玻里尼西亞</option>
                                                <option value="Gabon">Gabon 加蓬</option>
                                                <option value="Gambia">Gambia 岡比亞</option>
                                                <option value="Georgia">Georgia 格魯吉亞</option>
                                                <option value="Germany">Germany 德國</option>
                                                <option value="Ghana">Ghana 加納</option>
                                                <option value="Gibraltar">Gibraltar 直布羅陀</option>
                                                <option value="Greece">Greece 希臘</option>
                                                <option value="Greenland">Greenland 格陵蘭</option>
                                                <option value="Grenada">Grenada 格林納達</option>
                                                <option value="Guadeloupe">Guadeloupe 瓜德羅普島</option>
                                                <option value="Guam">Guam 關島</option>
                                                <option value="Guatemala">Guatemala 危地馬拉</option>
                                                <option value="Guinea">Guinea 幾內亞</option>
                                                <option value="Guinea-Bissau">Guinea-Bissau 幾內亞比紹</option>
                                                <option value="Guyana">Guyana 圭亞那</option>
                                                <option value="Haiti">Haiti 海地</option>
                                                <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands 赫德島和麥克唐納島</option>
                                                <option value="Honduras">Honduras 洪都拉斯</option>
                                                <option value="Hong Kong">Hong Kong 香港</option>
                                                <option value="Hungary">Hungary 匈牙利</option>
                                                <option value="Iceland">Iceland 冰島</option>
                                                <option value="India">India 印度</option>
                                                <option value="Indonesia">Indonesia 印尼</option>
                                                <option value="Iran">Iran 伊朗</option>
                                                <option value="Iraq">Iraq 伊拉克</option>
                                                <option value="Ireland">Ireland 愛爾蘭</option>
                                                <option value="Israel">Israel 以色列</option>
                                                <option value="Italy">Italy 意大利</option>
                                                <option value="Jamaica">Jamaica 牙買加</option>
                                                <option value="Japan">Japan 日本</option>
                                                <option value="Jordan">Jordan 約旦</option>
                                                <option value="Kazakhstan">Kazakhstan 哈薩克斯坦</option>
                                                <option value="Kenya">Kenya 肯尼亞</option>
                                                <option value="Kiribati">Kiribati 基里巴斯</option>
                                                <option value="Kosovo">Kosovo 科索沃</option>
                                                <option value="Kuwait">Kuwait 科威特</option>
                                                <option value="Kyrgyzstan">Kyrgyzstan 吉爾吉斯斯坦</option>
                                                <option value="Laos">Laos 老撾</option>
                                                <option value="Latvia">Latvia 拉脫維亞</option>
                                                <option value="Lebanon">Lebanon 黎巴嫩</option>
                                                <option value="Lesotho">Lesotho 萊索托</option>
                                                <option value="Liberia">Liberia 利比里亞</option>
                                                <option value="Libya">Libya 利比亞</option>
                                                <option value="Liechtenstein">Liechtenstein 列支敦士登</option>
                                                <option value="Lithuania">Lithuania 立陶宛</option>
                                                <option value="Luxembourg">Luxembourg 盧森堡</option>
                                                <option value="Macau">Macau 澳門</option>
                                                <option value="Macedonia">Macedonia 馬其頓</option>
                                                <option value="Madagascar">Madagascar 馬達加斯加</option>
                                                <option value="Malawi">Malawi 馬拉維</option>
                                                <option value="Malaysia">Malaysia 馬來西亞</option>
                                                <option value="Maldives">Maldives 馬爾代夫</option>
                                                <option value="Mali">Mali 馬里</option>
                                                <option value="Malta">Malta 馬耳他</option>
                                                <option value="Marshall Islands">Marshall Islands 馬紹爾群島</option>
                                                <option value="Martinique">Martinique 馬提尼克島</option>
                                                <option value="Mauritania">Mauritania 毛里塔尼亞</option>
                                                <option value="Mauritius">Mauritius 毛里求斯</option>
                                                <option value="Mayotte">Mayotte 馬約特島</option>
                                                <option value="Mexico">Mexico 墨西哥</option>
                                                <option value="Micronesia">Micronesia 密克羅尼西亞</option>
                                                <option value="Moldova">Moldova 摩爾多瓦</option>
                                                <option value="Monaco">Monaco 摩納哥</option>
                                                <option value="Mongolia">Mongolia 蒙古</option>
                                                <option value="Montenegro">Montenegro 黑山</option>
                                                <option value="Montserrat">Montserrat 蒙特塞拉特</option>
                                                <option value="Morocco">Morocco 摩洛哥</option>
                                                <option value="Mozambique">Mozambique 莫桑比克</option>
                                                <option value="Myanmar">Myanmar 緬甸</option>
                                                <option value="Namibia">Namibia 納米比亞</option>
                                                <option value="Nauru">Nauru 瑙魯</option>
                                                <option value="Nepal">Nepal 尼泊爾</option>
                                                <option value="Netherlands">Netherlands 荷蘭</option>
                                                <option value="Netherlands Antilles">Netherlands Antilles 荷屬安的列斯群島</option>
                                                <option value="New Caledonia">New Caledonia 新喀裡多尼亞</option>
                                                <option value="New Zealand">New Zealand 紐西蘭</option>
                                                <option value="Nicaragua">Nicaragua 尼加拉瓜</option>
                                                <option value="Niger">Niger 尼日爾</option>
                                                <option value="Nigeria">Nigeria 尼日利亞</option>
                                                <option value="Norfolk Island">Norfolk Island 諾福克島</option>
                                                <option value="North Korea">North Korea 北韓</option>
                                                <option value="Norway">Norway 挪威</option>
                                                <option value="Oman">Oman 阿曼</option>
                                                <option value="Pakistan">Pakistan 巴基斯坦</option>
                                                <option value="Palau">Palau 帕勞</option>
                                                <option value="Panama">Panama 巴拿馬</option>
                                                <option value="Papua New Guinea">Papua New Guinea 巴布亞新畿內亞</option>
                                                <option value="Paraguay">Paraguay 巴拉圭</option>
                                                <option value="Peru">Peru 秘魯</option>
                                                <option value="Philippines">Philippines 菲律賓</option>
                                                <option value="Pitcairn">Pitcairn 皮特凱恩</option>
                                                <option value="Poland">Poland 波蘭</option>
                                                <option value="Portugal">Portugal 葡萄牙</option>
                                                <option value="Puerto Rico">Puerto Rico 波多黎各</option>
                                                <option value="Qatar">Qatar 卡塔爾</option>
                                                <option value="Romania">Romania 羅馬尼亞</option>
                                                <option value="Russian Federation">Russian Federation 俄羅斯</option>
                                                <option value="Rwanda">Rwanda 盧旺達</option>
                                                <option value="Saint Helena">Saint Helena 聖赫勒拿島</option>
                                                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis 聖基茨和尼維斯</option>
                                                <option value="Saint Lucia">Saint Lucia 聖盧西亞</option>
                                                <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon 聖皮埃爾和密克隆</option>
                                                <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines 聖文森特和格林納丁斯</option>
                                                <option value="Samoa">Samoa 薩摩亞</option>
                                                <option value="San Marino">San Marino 聖馬力諾</option>
                                                <option value="Sao Tome and Principe">Sao Tome and Principe 聖多美和普林西比</option>
                                                <option value="Saudi Arabia">Saudi Arabia 沙特阿拉伯</option>
                                                <option value="Senegal">Senegal 塞內加爾</option>
                                                <option value="Serbia">Serbia 塞爾維亞</option>
                                                <option value="Seychelles">Seychelles 塞舌爾</option>
                                                <option value="Sierra Leone">Sierra Leone 塞拉利昂</option>
                                                <option value="Singapore">Singapore 新加坡</option>
                                                <option value="Slovakia">Slovakia 斯洛伐克</option>
                                                <option value="Slovenia">Slovenia 斯洛文尼亞</option>
                                                <option value="Solomon Islands">Solomon Islands 所羅門群島</option>
                                                <option value="Somalia">Somalia 索馬里</option>
                                                <option value="South Africa">South Africa 南非</option>
                                                <option value="South Georgia">South Georgia 南喬治亞</option>
                                                <option value="South Korea">South Korea 韓國</option>
                                                <option value="Spain">Spain 西班牙</option>
                                                <option value="Sri Lanka">Sri Lanka 斯里蘭卡</option>
                                                <option value="Sudan">Sudan 蘇丹</option>
                                                <option value="Suriname">Suriname 蘇里南</option>
                                                <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen 斯瓦爾巴群島和揚馬延島</option>
                                                <option value="Swaziland">Swaziland 斯威士蘭</option>
                                                <option value="Sweden">Sweden 瑞典</option>
                                                <option value="Switzerland">Switzerland 瑞士</option>
                                                <option value="Syria">Syria 敘利亞</option>
                                                <option value="Taiwan" selected>Taiwan 台灣</option>
                                                <option value="Tajikistan">Tajikistan 塔吉克斯坦</option>
                                                <option value="Tanzania">Tanzania 坦桑尼亞</option>
                                                <option value="Thailand">Thailand 泰國</option>
                                                <option value="Togo">Togo 多哥</option>
                                                <option value="Tokelau">Tokelau 托克勞</option>
                                                <option value="Tonga">Tonga 湯加</option>
                                                <option value="Trinidad and Tobago">Trinidad and Tobago 千里達和多巴哥</option>
                                                <option value="Tunisia">Tunisia 突尼西亞</option>
                                                <option value="Turkey">Turkey 土耳其</option>
                                                <option value="Turkmenistan">Turkmenistan 土庫曼斯坦</option>
                                                <option value="Tuvalu">Tuvalu 圖瓦盧</option>
                                                <option value="Uganda">Uganda 烏干達</option>
                                                <option value="Ukraine">Ukraine 烏克蘭</option>
                                                <option value="United Arab Emirates">United Arab Emirates 阿拉伯聯合酋長國</option>
                                                <option value="United Kingdom">United Kingdom 英國</option>
                                                <option value="United States">United States 美國</option>
                                                <option value="United States Minor Outlying Islands">United States Minor Outlying Islands 美國本土外小島嶼</option>
                                                <option value="Uruguay">Uruguay 烏拉圭</option>
                                                <option value="Uzbekistan">Uzbekistan 烏茲別克斯坦</option>
                                                <option value="Vanuatu">Vanuatu 瓦努阿圖</option>
                                                <option value="Vatican City">Vatican City 梵蒂岡</option>
                                                <option value="Venezuela">Venezuela 委內瑞拉</option>
                                                <option value="Vietnam">Vietnam 越南</option>
                                                <option value="Virgin Islands, British">Virgin Islands, British 英屬維京群島</option>
                                                <option value="Virgin Islands, U.S.">Virgin Islands, U.S. 美屬維京群島</option>
                                                <option value="Wallis and Futuna">Wallis and Futuna 瓦利斯和富圖納</option>
                                                <option value="Western Sahara">Western Sahara 西撒哈拉</option>
                                                <option value="Yemen">Yemen 也門</option>
                                                <option value="Zambia">Zambia 贊比亞</option>
                                                <option value="Zimbabwe">Zimbabwe 津巴布韋</option>
                                            </select>
                                        </div>
                                        <div class="pull-right" style="margin:20px 16px 0 0;">
                                            <button onClick=" javascript:;"  class="btn btn-default tool-save edit" data-original-title="儲存" data-portlet="#contact-portlet2">儲存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="profile">
                        <div class="portlet box light-grey show-view" id="profile-portlet1">
                            <div class="portlet-title">
                                <div class="caption">
                                    帳戶概觀
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="tool-edit view" data-original-title="編輯" data-portlet="#profile-portlet1" onClick="javascript: expand_count++;">
                                        <i class="fa fa-pencil-square-o" ></i> 編輯
                                    </a>
                                    <a href="javascript:;" class="edit" data-original-title="收合" data-portlet="#profile-portlet1" onclick="update_basic_info(2)">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div id="mycontact" class="portlet-body">
                                <form action="#" id="contact-form2" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">企業圖像</label>
                                        <div class="col-md-10">
                                            <!-- <img src="/img/staff.png" class="avatar" alt=""> -->
                                            <%= image_tag url_for(:controller => "users/employer/company/profiles", :action => "show_image", :id => @company.id), id: "blah1", class: "avatar" %>
                                            <div class="input-group image-preview edit">
                                                <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                                <span class="input-group-btn">
                                                    <!-- image-preview-clear button -->
                                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                        <span class="glyphicon glyphicon-remove"></span> 清除
                                                    </button>
                                                    <!-- image-preview-input -->
                                                    <div class="btn btn-default image-preview-input">
                                                        <span class="glyphicon glyphicon-folder-open"></span>
                                                        <span class="image-preview-input-title">選擇檔案</span>
                                                        <input class="" id="profile_img2" name="image" type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" onchange="readURL(this)"/> <!-- rename it -->
                                                    </div>
                                                </span>
                                            </div><!-- /input-group image-preview [TO HERE]-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">使用者名稱</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view"><%= current_user.username %></p>
                                            <input type="text" name="userid" class="form-control edit" placeholder="User ID" value="<%= current_user.username %>" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">姓氏</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view" data-display="lastname" id="last_name"><%= current_user.last_name %></p>
                                            <input type="text" name="last_name" class="form-control edit" placeholder="姓氏" value="<%= current_user.last_name %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">名字</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view" id="first_name"><%= current_user.first_name %></p>
                                            <input type="text" name="first_name" class="form-control edit" placeholder="名字" value="<%= current_user.first_name %>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">電子郵件</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view"><%= current_user.email %></p>
                                            <input type="text" name="email" class="form-control edit" placeholder="電子郵件" value="<%= current_user.email %>" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">企業名稱</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view" data-disply="companyname" id="company_name"><%= @company.company_name %></p>
                                            <input type="text" name="company_name" class="form-control edit" placeholder="(自動帶入企業名稱)" value="<%= @company.company_name %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">統一編號</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view" data-disply="companyid" id="vat_number"><%= @company.vat_number %></p>
                                            <input type="text" name="vat_number" class="form-control edit" placeholder="(自動帶入)" value="<%= @company.vat_number %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">個人網站</label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view" data-disply="website" id="website"><%= @company.website %></p>
                                            <input type="text" name="website" class="form-control edit" placeholder="(自動帶入)" value="<%= @company.website %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">企業簡介 <P>(僅限20字)</P></label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view" id="brief_introduction"><%= @company.brief_introduction %></p>
                                            <input type="text" name="brief_introduction" class="form-control edit" placeholder="(自動帶入)" value="<%= @company.brief_introduction %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">詳細介紹<p>(僅限1000字)</p></label>
                                        <div class="col-md-10">
                                            <p class="form-control-static view" id="introduction"><%= @company.introduction %></p>
                                            <textarea name="introduction" class="form-control edit" rows="3" placeholder="(自動帶入)"><%= @company.introduction %></textarea>
                                        </div>
                                        <div class="pull-right" style="margin:20px 16px 0 0;">
                                        <button class="btn btn-default edit prevent" data-original-title="收合" data-portlet="#profile-portlet1" onclick="update_basic_info(2)">收合</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="/" class="btn btn-danger">資料填寫完成回到首頁</a>
                        </div>
                    </div>
                    <div class="tab-pane" id="password">
                        <div class="portlet box light-grey show-view" id="password-portlet">
                            <div class="portlet-title">
                                <div class="caption">
                                    變更密碼
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="tool-save" data-original-title="儲存" data-portlet="#password-portlet">
                                        <i class="fa fa-floppy-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <%= form_for(current_user, url: "/users", html: { id: "password-form", method: :put, class: "form-horizontal", role: "form"}) do |f| %>
                                <!-- <form action="#" id="contact-form1" class="form-horizontal" role="form"> -->
                                    <input name="from" value="company" style="display: none"> <!-- for redirect after update password -->
                                    <input name="company_id" value="<%= @company.id %>" style="display: none"> <!-- for redirect after update password -->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">舊密碼</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", data: {isEmpty: "當前密碼不能為空", isError: "密碼錯誤"} %>
                                                </div>
                                            </div>
                                            <p class="help-block">
                                                如果您想要變更您的密碼，請先輸入您的舊密碼
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">新密碼</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <div class="input-icon right">
                                                    <i class="fa fa-warning" data-original-title="密碼至少要有六個字元，不包含*/!~等特殊符號"></i>
                                                    <%= f.password_field :password, autocomplete: "off", class: "form-control", data: {isEmpty: "密碼至少要有八個字元，不包含*/!~等特殊符號", isError: "密碼至少要有八個字元，不包含*/!~等特殊符號"} %>
                                                </div>
                                            </div>
                                            <p class="help-block">
                                                密碼長度必須大於等於8英數字元，包含大小寫英文符號，不包含特殊符號。
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">再次輸入新密碼</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", "data-isInconsistent" => "密碼與先前輸入的不一致" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin:20px 16px 0 0;">
                                        <%= f.submit "儲存", class: "btn btn-default pull-right", onclick: "warn_on_unload=''" %>
                                    </div>
                                <!-- </form> -->
                                <% end %>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- BEGIN END CONTENT -->
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END PAGE -->
        <!-- BEGIN FOOTER -->
        <script language="javascript" type="text/javascript" src="/masterpage/footer.txt"></script>
    </div>
        <!-- END FOOTER -->

        <!-- BEGIN JAVASCRIPTS -->
        <!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="/plugins/html5shiv.min.js"></script>
            <script src="/plugins/respond.min.js"></script>
            <![endif]-->

            <script src="/plugins/jquery-1.11.0.min.js"></script>
            <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="/plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <script type="text/javascript" src="/plugins/jquery-validation/dist/jquery.validate.js"></script>
            <script type="text/javascript" src="/plugins/jquery-validation/dist/myMethods.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <script src="/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
            <script src="/plugins/select2/select2.min.js"></script>
            <script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
            <script src="/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
            <script src="/plugins/dropzone/dropzone.js"></script>
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="/js/script.js"></script>
            <script type="text/javascript" src="/js/page/company_profile.js"></script>
            <!-- <script type="text/javascript" src="/js/page/personal_profile.js"></script> -->
            <script type="text/javascript" src="/js/element.js"></script>
            <script>

                var warn_on_unload = "尚未儲存的資料都將遺失"
                var expand_count = 0

                jQuery(document).ready(function() {
                   Web.init();
                   PersonalProfile.init();

                    $(".prevent").click(function(event){
                      event.preventDefault()
                    })

                   window.onbeforeunload = function(e) {
                       if( expand_count > 0 && warn_on_unload != '') return warn_on_unload
                    }
               });

                var update_basic_info = function(form_num) {
                    if( $(".has-error").length > 0 ) {
                        $("body").animate({scrollTop: "300px"})
                        return
                    }
                    var double_check = 2
                    if( $("#contact-form" + form_num + " input[name='first_name']").val() == '' ) {
                        $("#contact-form" + form_num + " input[name='first_name']").focus()
                        $("#contact-form" + form_num + " input[name='first_name']").css("border-color", "red")
                    } else {
                        double_check--
                    }
                    if( $("#contact-form" + form_num + " input[name='last_name']").val() == '' ) {
                        $("#contact-form" + form_num + " input[name='last_name']").focus()
                        $("#contact-form" + form_num + " input[name='last_name']").css("border-color", "red")
                    } else {
                        double_check--
                    }
                    if(double_check == 0) {
                        var portlet = $("#profile-portlet1")
//                        console.log(portlet)
                        portlet.removeClass('show-edit')
                        portlet.addClass('show-view')
                    } else {
                        $("body").animate({scrollTop: "300px"})
                        return
                    }

                    var obj = {
                        "request": "update_basic_info",
                        "user[first_name]": $("#contact-form" + form_num + " input[name='first_name']").val(),
                        "user[last_name]": $("#contact-form" + form_num + " input[name='last_name']").val(),
                        "company[id]": "<%= @company.id %>",
                        "company[company_name]": $("#contact-form" + form_num + " input[name='company_name']").val(),
                        "company[brief_introduction]": $("#contact-form" + form_num + " input[name='brief_introduction']").val(),
                        "company[introduction]": $("#contact-form" + form_num + " textarea[name='introduction']").val(),
                        "company[website]": $("#contact-form" + form_num + " input[name='website']").val(),
                        "company[vat_number]": $("#contact-form" + form_num + " input[name='vat_number']").val()
                    }
                    $("#loader").show()
                    //console.log(obj)
                    $.ajax({
                        url: "/users/employer/company/profiles/ajax_updae",
                        type: "post",
                        dataType: "json",
                        data: obj,
                        success: function(data) {
                            //console.log(data)
                            $("#brief_introduction").text(data.company.brief_introduction)
                            $("#introduction").text(data.company.introduction)
                            $("#vat_number").text(data.company.vat_number)
                            $("#first_name").text(data.user.first_name)
                            $("#last_name").text(data.user.last_name)
                            //console.log(document.getElementById("profile_img"+ form_num))
                            if( typeof document.getElementById("profile_img"+ form_num).files[0] != 'undefined' ) upload_img(form_num)
                            else $("#loader").hide()
                            expand_count--
                        }
                    });
                }

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $(".avatar").attr('src', e.target.result);
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }

                function upload_img(form_num) {
                    var profile_img = document.getElementById("profile_img"+ form_num)
                    var file = profile_img.files[0]
                    var fd = new FormData()
                    fd.append('profile_img', file)
                    fd.append('company[id]', "<%= @company.id %>")

                    var xhr = new XMLHttpRequest()
                    xhr.open('post', '/users/employer/company/profiles/ajax_upload_img', true)

                    xhr.setRequestHeader("X-File-Name", file.name)
                    xhr.setRequestHeader("X-File-Size", file.size)
                    xhr.setRequestHeader("X-File-Type", file.type)
                    xhr.onload = function() {
                        if (this.status == 200) {
                            //console.log("upload file success")
                            $("#loader").hide()
                        }
                    }
                    xhr.send(fd)
                }


            </script>
            <!-- END JAVASCRIPTS -->
            <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="/plugins/PIE-1.0.0/PIE.js"></script>
        <script src="/plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
    </body>
    </html>
