<h2 style="color:red;"> Project from Freelacer </h2>
<% @projects.group_by{|g| g.project_category }.each do |c, project| %>
<ul style="list-style-type: none;">
  <form action="project/update_budget">
    <li><h3><%= c.to_i >= 99 ? @category[11].name : @category[c.to_i-1].name %></h3></li>
    <input type="hidden" name="c" value="<%= c.to_i %>">
    <li>
      增加金額：<input type="text" name="new_budget">
      <input type="submit" value="set">
    </li>
  </form>
  <% project.each do |p| %>
  <li>
    <ul>
      <li>
        <%= p.name %>
        <%= link_to 'Show', :controller => 'projects', :action => 'show', :id => p %>
        <%= link_to 'Edit', :controller => 'projects', :action => 'edit', :id => p %>
        <%= link_to 'delete', project_path(p), :method => :delete %>
        <% if p.is_translation == 1 %>
        <span style="color:red; margin-left: 10px;">translated</span>
        <% end %>
      </li>
    </ul>
  </li>
  <% end %>
</ul>
<% end %>
<%= link_to 'Download xls', :controller => 'projects', :action => 'excel_download', :format => 'xls'  %>

<!-- <%= link_to 'New project', :controller => 'projects', :action => 'new'%> -->
<!-- <%= link_to 'New project', new_project_path %> -->

