
<% @projects.group_by{|g| g.project_category }.each do |category, project| %>
<ul style="list-style-type: none;">
  <li><h3><%= category %></h3></li>
  <% project.each do |p| %>
  <li>
    <ul>
      <li>
        <%= p.name %>
        <%= link_to 'Show', :controller => 'projects', :action => 'show', :id => p %>
        <%= link_to 'Edit', :controller => 'projects', :action => 'edit', :id => p %>
        <%= link_to 'delete', project_path(p), :method => :delete %>
      </li>
    </ul>
  </li>
  <% end %>
</ul>
<% end %>
<!-- <%= link_to 'New project', :controller => 'projects', :action => 'new' %> -->
<!-- <%= link_to 'New project', new_project_path %> -->

