<h2 style="color:red;"> Project from Freelacer </h2>
<% @projects.group_by{|g| g.project_category }.each do |c, project| %>
<ul style="list-style-type: none;">
  <form action="project/update_budget">
    <% if not @category[11].nil? %>
    <li><h3><%= c.to_i >= 99 ? @category[11].name : @category[c.to_i-1].name %></h3></li>
    <% end %>
    <input type="hidden" name="c" value="<%= c.to_i %>">
    <li>
      增加金額：<input type="text" name="new_budget">
      <input type="submit" value="set">
    </li>
  </form>
  <table border="1" style="min-width:100%;">
    <thead>
      <tr style="background-color: rgb(31, 214, 163);">
        <th>id</th>
        <th>Project Name</th>
        <th>Action</th>
        <th>Pulbic Message?</th>
        <th>Translator Name</th>
        <th>Translated?</th>
      </tr>
    </thead>
    <% project.each do |p| %>
    <tr>
      <td style="text-align:center;"><%= p.id%></td>
      <td style="width:500px;"><%= p.name %></td>
      <td style="width:150px; text-align: center;">
        <%= link_to 'Show', :controller => 'projects', :action => 'show', :id => p %>
        <%= link_to 'Edit', :controller => 'projects', :action => 'edit', :id => p %>
        <%= link_to 'delete', project_path(p), :method => :delete %>
      </td>
      <td style="text-align: center;">
        <% if p.has_public_mesage? %>
        <span style="color:green; ">has public message </span>
        <% end %>
      </td>
      <td style="text-align: center;">
        <span><i><%= p.get_translator_name %></i></span>
      </td>
      <td style="text-align: center;">
        <% if p.has_translated? %>
        <span style="color:red; margin-left: 10px;">translated</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</ul>
<% end %>
<%= link_to 'Download xls', :controller => 'projects', :action => 'excel_download', :format => 'xls'  %>

<!-- <%= link_to 'New project', :controller => 'projects', :action => 'new'%> -->
<!-- <%= link_to 'New project', new_project_path %> -->

