<ul>
<% @projects.each do |project| %>
  <li>
  <%= project.id %>.
  <%= project.name %>
  <%= link_to 'Show', :controller => 'projects', :action => 'show', :id => project %>
  <%= link_to 'Edit', :controller => 'projects', :action => 'edit', :id => project %>
  <%= link_to 'delete', project_path(project), :method => :delete %>
  </li>
<% end %>
</ul>
<!-- <%= link_to 'New project', :controller => 'projects', :action => 'new' %> -->
<!-- <%= link_to 'New project', new_project_path %> -->

