<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/plugins/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.min.css">
<!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <link rel="stylesheet" href="/plugins/jquery-autocomplete/jquery.autocomplete.css">
        <link rel="stylesheet" href="/plugins/jquery-tags-input/jquery.tagsinput.css">
        <link rel="stylesheet" href="/plugins/select2/select2.css">
        <link rel="stylesheet" href="/plugins/select2/select2-metronic.css">
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/expanding_list.css">
        <link rel="stylesheet" type="text/css" href="/css/alert.css">
        <link rel="stylesheet" type="text/css" href="/css/page/project_new.css">
        <link rel="stylesheet" type="text/css" href="/css/loginmain.css">
        <link rel="stylesheet" type="text/css" href="/css/pstyle.css">
        <!--<link rel="stylesheet/less" type="text/css" href="less/page/index.less">-->
        <link rel="shortcut icon" href="/favicon.ico"/>
        <style type="text/css">
          .fa-input {
            font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
          }
          .btn-link:focus,.btn-link:hover,.btn-link:focus{
            outline: none !important;
            outline-style: none;
            padding: 12px !important;
          }
        </style>
        <!-- END STYLE -->
      </head>
      <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="clearfix">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
         <!--  <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
            <i class="fa fa-search"></i>
          </button> -->
          <a class="navbar-brand" href="/index.html"><img class="navbar-logo" src="/img/logo208.png" alt="快樂工作"></a>
        </div>
       <!--  <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
          <div class="navbar-search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="搜尋您需要的人才">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div> -->
        <div class="navbar-collapse navbar-collapse-nav collapse navbar-left">
          <ul class="nav navbar-nav nav-yellow">
            <li class="myactive"><a href="hire.html" >招募遠距工作者</a></li>
            <li><a href="team.html">團隊管理</a></li>
            <li><a href="report.html">報表</a></li>
            <li><a href="sms_in.html">訊息</a></li>
          </ul>
        </div>
        <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-circle image-responsive" src="/img/class/class_3.jpg" style="width: 30px;height:30px;" alt="img"> &nbsp;Chris,Chou <b class="caret"></b></a>
              <ul class="dropdown-menu user-dropdown">
                <li class="color-blue"><span>Hi,<a href="#">Chris,Chou</a></span></li>
                <li class="divider"></li>
                <li><a href="#">切換到(User ID)</a></li>
                <li><a href="#">個人設定</a></li>
                <li><a href="#">會員登出</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><i class="fa fa-lg fa-bell"></i></span>&nbsp;<span class="badge">2</span></a>
              <ul class="dropdown-menu">
                <li><a href="#">(通知訊息內容)<span><button type="button" class="close" aria-hidden="true">&times;</button></span></a></li>
                <li class="divider"></li>
                <li><a href="#">(通知訊息內容)<span><button type="button" class="close" aria-hidden="true">&times;</button></span></a></li>
              </ul>
            </li>
            <li><a href="#"><span><i class="fa fa-lg fa-refresh"></i></span></a></li>
          </ul>
        </div>
      </div>
      <div class="nav-border-yellow"></div>
    </div>

    <!-- END NAVBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content page-yellow bottom50">
      <div class="container" style="margin-top: 50px;">
        <ul id="myTab" class="nav nav-tabs navmargin">
          <li class="active"><a id="tab-1" href="#one" data-toggle="tab">開放申請案件</a></li>
          <li ><a id="tab-2" href="#two" data-toggle="tab">新增案件 </a></li>
          <li><a id="tab-3" href="#three" data-toggle="tab">瀏覽遠距工作者</a></li>
          <li><a id="tab-4" href="#four" data-toggle="tab">我儲存的遠距工作者<span class="badge">2</span></a></li>
        </ul>
        <div id="myTabContent" class="tab-content myTabs" >
          <div class="tab-pane fade in active" id="one">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-xs-9">
                     <div class="input-group">
                      <input type="text" class="form-control" placeholder="搜尋遠距工作者">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <button type="button" class="btn btn-success btn-block">刊登案件</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 marpad" style="margin-top:5px;"><a href="#" data-tab-destination="tab-3" class="btn btn-link">依照類別瀏覽遠距工作者 <i class="fa fa-angle-double-right"></i></a></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <div class="portlet box yellow">
                      <div class="portlet-title">
                        <div style="font-size:1.2em;"> 目前正在招募的工作 </div>
                      </div>
                      <div class="portlet-body text-center">
                       <p>您現在還沒有招募的案件，您可以</p>
                       <p><a href="#" data-tab-destination="tab-2">刊登案件</a>或<a href="#" data-tab-destination="tab-3">搜尋遠距工作者</a></p>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="row"><!--BEGIN PORTLET ROW 01-->
                <div class="col-md-12">
                  <div class="portlet box yellow marpad"><!--BEGIN PORTLET YELLOW 01-->
                    <div class="portlet-title">
                      <div style="font-size:1.2em;"> 目前正在招募的工作 </div>
                    </div>
                    <div class="portlet-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>案件名稱</th>
                            <th>申請人數</th>
                            <th>來訊人數</th>
                            <th>候選人數</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="line-height:1.5;">
                              <h4><a href="hire-list.html">翻譯案件，將中文翻譯成英文、德文、法文、俄文</a></h4>
                              <span class="btn-group btn-group-table" data-toggle="buttons">
                                <label class="btn btn-info btn-sm">
                                  <input type="radio" name="options" id="option1"> 公開式案件
                                </label>
                                <label class="btn btn-info btn-sm">
                                  <input type="radio" name="options" id="option2"> 登入後公開
                                </label>
                                <label class="btn btn-info btn-sm">
                                  <input type="radio" name="options" id="option3"> 隱藏式案件
                                </label>
                              </span>
                              <p class="marpad">固定預算 | 2014/05/19 由您發佈</p>
                              <a href="#">檢視推薦遠距工作</a>
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td style="line-height:1.5;">
                              <h4><a href="hire-list.html">拯救Facebook 搜尋災難，QSearch 找回我們的臉書訊息</a></h4>
                              <span class="btn-group btn-group-table" data-toggle="buttons">
                                <label class="btn btn-info btn-sm">
                                  <input type="radio" name="options" id="option1"> 公開式案件
                                </label>
                                <label class="btn btn-info btn-sm">
                                  <input type="radio" name="options" id="option2"> 登入後公開
                                </label>
                                <label class="btn btn-info btn-sm">
                                  <input type="radio" name="options" id="option3"> 隱藏式案件
                                </label>
                              </span>
                              <p class="marpad">固定預算 | 2014/05/19 由您發佈</p>
                              <a href="#">檢視推薦遠距工作</a>
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!--END PORTLET YELLOW 01-->
                </div>
              </div><!--END PORTLET ROW 01-->
              <div class="row">
                <div class="col-md-12 marpad"><a href="employer-post-history.html" class="btn btn-link">檢視曾經開登的工作 <i class="fa fa-angle-double-right"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade in " id="two"> <!--BEGIN PANEL 02-->
        <div class="form-style">
          <%= form_for @project, url: projects_path(@project), method: :post, html: {class: "go-bottom", id: "submit_form"} do |f| %>

          <div class="portlet box yellow"> <!--BEGIN PORTLET YELLOW 01-->
            <div class="portlet-title">
              <div class="title-tex"> 選擇案件類別 </div>
            </div>
            <div class="portlet-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <p>主類別</p>
                    <div class="top5">
                      <select name="project[main_skill]" id="mainClass_select" class="form-control">
                        <option value="-1">所有類別</option>
                        <% t(:main_skill_category).each_with_index do |main_one, index| %>
                        <% if index == @main_skill_id %>
                        <option value="<%= index %>" selected><%= main_one['name'] %></option>
                        <% else %>
                        <option value="<%= index %>"><%= main_one['name'] %></option>
                        <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <p>子類別</p>
                    <div class="top5">
                      <select name="project[sub_skill]" id="subClass_select2" class="form-control" >
                        <option value="-1">所有類別</option>
                        <% t(:sub_skill_category)[@main_skill_id].each_with_index do |sub_one, index| %>
                        <% if index == @sub_skill_id %>
                        <option value="<%= index %>" selected><%= sub_one['name'] %></option>
                        <% else %>
                        <option value="<%= index %>"><%= sub_one['name'] %></option>
                        <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--End PORTLET YELLOW 01-->
          <div class="portlet box yellow"> <!--BEGIN PORTLET YELLOW 02-->
            <div class="portlet-title">
              <div class="title-tex"> 案件描述 </div>
            </div>
            <div class="portlet-body">
              <div class="row">
                <div class="col-md-3 text-right-md text-left-sm">
                  <strong><span class="Corange">* </span>案件名稱</strong>
                </div>
                <div class="col-md-9">
                  <div class="form-group lable-group">
                    <!-- <input name="name" type="text" class="form-control" required> -->
                    <%= f.text_field :name, :required => true, :class => "form-control", :id => "project_name" %>
                    <label for="name">為您的案件命名</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right-md text-left-sm">
                  <strong><span class="Corange">* </span> 工作內容</strong>
                </div>
                <div class="col-md-9">
                  <div class="form-group lable-group">
                    <!-- <textarea  name="detail" class="form-control" rows="5" required></textarea> -->
                    <%= f.text_area :description, :required => true, :class => "form-control", :id => "project_description" %>
                    <label for="detail">描述您的案件工作內容</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right-md text-left-sm">
                  <strong>案件技能</strong>
                </div>
                <div class="col-md-9">
                  <!-- <div class="form-group lable-group"> -->
                  <!-- <input name="skill" type="text" class="form-control" required> -->
                  <!-- <%= f.text_field :require_skills, :required => true, :class => "form-control" %>-->
                  <input id="skill-tags" type="text" name="project[require_skills]" class="form-control tags" value="<%= current_user.user_skills.map{|e| e.name }.join(", ") %>" defaultText="請輸入案件需求技能" alert-limit="<%= I18n.t("page.profile_show.tabA_segment3_alert_limit")%>" />
                  <!-- </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right-md text-left-sm "><strong>急件</strong></div>
                <div class="col-md-9 text-left">
                  <div class="form-group">
                    <div class="marpad-left text-left">
                      <%= f.check_box :is_emergency %> 我需要急件處理
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div><!-- BEGIN CASE TYPE -->
                <div class="row bottom30">
                  <div class="col-md-8 col-md-offset-1">
                    <div class="row">

                      <div class="col-md-3">
                        <p class="Colive marpad" style="font-size:1.7em;"><strong><span class="Corange">* </span> 案件類型</strong></p>
                        <p class="Cgray left10">請選擇右方類型:</p>
                      </div>
                      <div class="col-md-9">
                       <div class="row">
                        <div class="radio-toolbar form-group" id="payment_type">
                         <div class="col-sm-3">
                           <%= f.radio_button :payment_type, 1, :id => "radio1", :name => "feetype", checked: true %>
                           <!-- <input id="radio1" type="radio" name="feetype" value="2"  checked/> -->
                           <label for="radio1" class="btn btn-default">時薪制</label>
                         </div>

                         <div class="col-sm-3">
                           <%= f.radio_button :payment_type, 2, :id => "radio2", :name => "feetype" %>
                           <!-- <input type="radio" id="radio2" name="feetype" value="3"/> -->
                           <label class="btn btn-default" for="radio2">固定薪資</label>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>

             <div id="feetype1" class="desc"><!--BEGIN 時薪制-->
              <div class="row">
                <div class="col-md-3 text-right-md text-left-sm visible-xs visible-sm"><strong><span class="Corange">* </span> 遠距工作者的經驗程度:</strong></div>
                <div class="col-md-3 text-right-md text-left-sm hidden-xs hidden-sm"><strong><span class="Corange">* </span> 遠距工作者的</strong><p><strong>經驗程度:</strong></p></div>
                <div class="col-md-9">
                  <div class="row"> <!-- BEGIN PRODUCT-CHOOSER -->
                    <div class="col-md-12">
                      <div class="row form-group product-chooser">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                          <div class="product-chooser-item selected">
                            <div class="chooser-title"><h4>入門</h4></div>
                            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                              <span class="description">具備入門等級的相關經歷，此類案件通常不會執行太過困難的任務。</span>
                              <!-- <input type="radio" name="product" value="mobile_desktop" checked="checked"> -->
                              <%= f.radio_button :required_user_level, 1, :id => "required_user_level_1", checked: true %>
                            </div>
                            <div class="clear"></div>
                          </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                          <div class="product-chooser-item">
                            <div class="chooser-title"><h4>中階</h4></div>
                            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                              <span class="description">處理過類似案件，具備經驗能處理較為進階的任務。</span>
                              <!-- <input type="radio" name="product" value="desktop"> -->
                              <%= f.radio_button :required_user_level, 2, :id => "required_user_level_2" %>
                            </div>
                            <div class="clear"></div>
                          </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                          <div class="product-chooser-item">
                           <div class="chooser-title"><h4>專家</h4></div>
                           <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <span class="description">專家等級，能處理進階任務，替雇主創造價值。</span>
                            <!-- <input type="radio" name="product" value="mobile"> -->
                            <%= f.radio_button :required_user_level, 3, :id => "required_user_level_3" %>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- END PRODUCT-CHOOSER -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 text-right-md text-left-sm"><strong><span class="Corange">* </span> 案件預計工期</strong></div>
              <div class="col-md-9">
                <div class="form-group">
                  <%= f.radio_button :during_time, 1, :id => "during_time_1", checked: true %>3日
                  <%= f.radio_button :during_time, 2, :id => "during_time_2" %>7日
                  <%= f.radio_button :during_time, 3, :id => "during_time_3" %>14日
                  <%= f.radio_button :during_time, 4, :id => "during_time_4" %>1個月
                  <%= f.radio_button :during_time, 5, :id => "during_time_5" %>3個月
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 text-right-md text-left-xs"><strong>全職/兼職</strong></div>
              <div class="col-md-9">
                <div class="form-group">
                  <%= f.radio_button :work_type, 1, :id => "work_type_1", checked: true %>全職
                  <%= f.radio_button :work_type, 2, :id => "work_type_2" %>兼職
                </div>
              </div>
            </div>
          </div><!--END 時薪制-->
        </div><!-- END CASE TYPE -->
        <div id="feetype2" class="desc" style="display: none;"><!-- BEGIN CASE TYPE 固定薪資 -->
          <div class="row">
            <div class="col-md-3 text-right-md text-left-sm">
              <strong>案件預算</strong>
            </div>
            <div class="col-md-9">
              <div class="form-group lable-group">
                <div class="input-group">
                  <%= f.text_field :budget, :class => "form-control", :id => "budget" %>
                  <!-- <input type="text" name="butget" class="form-control" required> -->
                  <label for="budget">請輸入案件預算</label>
                  <span class="input-group-addon" style="z-index: 10;
                  position: relative;">
                  USD
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 text-right-md text-left-sm">
            <strong>預計完成日期</strong>
          </div>
          <div class="col-md-9">

            <div class="form-group">
              <div class="input-group date" id="datetimepicker1">
                <input type="text" class="form-control" name="project[end_date]" />
                <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
              </div>
            </div>

          </div>
        </div>
      </div><!-- END CASE TYPE 固定薪資 -->
      <hr>
      <div class="row">
        <div class="col-md-3 text-right-md text-left-sm"><strong>能見度設定</strong></div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.radio_button :visibility, 1, :id => "visibility_1", checked: true %>開放式
            <%= f.radio_button :visibility, 2, :id => "visibility_2" %>僅限Telework會員
            <%= f.radio_button :visibility, 3, :id => "visibility_3" %>隱藏式
          </div>
        </div>
      </div>
      <div class="row"> <!-- BEGIN FILE UPLOAD ROW-->
        <div class="col-md-3 text-right-md text-left-sm"><strong>上傳附加檔案</strong><p>(選擇性)</p></div>
        <div class="col-md-9">
          <div class="form-group">
            <!-- image-preview-filename input [CUT FROM HERE]-->
            <div class="input-group image-preview">
              <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
              <span class="input-group-btn">
                <!-- image-preview-clear button -->
                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                  <span class="glyphicon glyphicon-remove"></span> 清除
                </button>
                <!-- image-preview-input -->
                <div class="btn btn-default image-preview-input">
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <span class="image-preview-input-title">選擇檔案</span>
                  <!-- <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>  --><!-- rename it -->
                  <%= f.file_field :file, :id => "file" %>
                </div>
              </span>
            </div><!-- /input-group image-preview [TO HERE]-->
            <p class="help-block">
              檔案不得超過5MB, 僅限jpg,png,pdf等格式。
            </p>
          </div>
        </div>
      </div><!-- END FILE UPLOAD ROW-->
    </div>
  </div><!--END PORTLET YELLOW 02-->
  <div class="portlet box yellow"> <!--BEGIN PORTLET YELLOW 02-->
    <div class="portlet-title">
      <div class="title-tex"> 設定申請者條件 </div>
    </div>
    <div class="portlet-body">
     <div class="row">
      <div class="col-md-9 col-md-offset-2"><!--BEGIN COL-MD-10-->
        <h3 class="Corange">期待認證等級</h3>
        <hr>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <p class="form-control-static text-right-md text-left-sm marpad-left"><strong>獲得的滿意度最低</strong></p>
            </div>
            <div class="col-sm-9">
              <div style="margin-top:5px;">
                <select name="project[satisfication]" class="form-control" id="satisfication">
                  <option value="0">任何分數</option>
                  <option value="1">1.0分</option>
                  <option value="2">2.0分</option>
                  <option value="3">3.0分</option>
                  <option value="4">4.0分</option>
                  <option value="5">5.0分</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <p class="form-control-static text-right-md text-left-sm marpad-left"><strong>已工作時數最低</strong></p>
            </div>
            <div class="col-sm-9">
              <div style="margin-top:5px;">
                <select name="project[worked_hours]" class="form-control" id="worked_hours">
                  <option value="0">任何時數</option>
                  <option value="1">20小時</option>
                  <option value="2">40小時</option>
                  <option value="3">70小時</option>
                  <option value="4">100小時</option>
                  <option value="5">500小時</option>
                  <option value="6">1500小時以上</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <p class="form-control-static text-right-md text-left-sm marpad-left"><strong>所在地區</strong></p>
            </div>
            <div class="col-sm-9">
              <div style="margin-top:5px;">
                <select name="project[worker_location]" class="form-control" id="worker_location">
                  <option value="0">任何地區</option>
                  <option value="1">亞洲</option>
                  <option value="2">歐洲</option>
                  <option value="3">南美洲</option>
                  <option value="4">北美洲</option>
                  <option value="5">大洋洲</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <p class="form-control-static text-right-md text-left-sm marpad-left"><strong>英文程度</strong></p>
            </div>
            <div class="col-sm-9">
              <div style="margin-top:5px;">
                <select name="project[english_level]" class="form-control" id="english_level">
                  <option value="0">請選擇偏好英語程度</option>
                  <option value="1">精通</option>
                  <option value="2">流暢</option>
                  <option value="3">普通</option>
                  <option value="4">略懂</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div><!--END COL-md-10-->
    </div>
  </div>
</div><!--END PORTLET YELLOW 02-->

<div class="row"><!--BEGIN PANEL02 PORTLET ROW 04-->
  <div class="col-md-12">
    <div class="portlet box yellow"> <!--BEGIN PORTLET YELLOW 04-->
      <div class="portlet-title">
        <div style="font-size:1.2em;"> 需要申請者填寫自我介紹 </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-9 col-md-offset-2"><!--BEGIN COL-SM-10-->
            <h3 class="Corange">需填寫自我介紹</h3>
            <hr>
            <div class="form-group">
              <div class="marpad-left text-left">
                <%= f.check_box :required_user_intro, :id => "required_user_intro" %> 需要申請者填寫個人介紹才能申請本工作
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--END PORTLET YELLOW 04-->
  </div>
</div><!--END PANEL02 PORTLET ROW 04-->
<div class="row"><!--BEGIN PANEL02 PORTLET ROW 05-->
  <div class="col-md-12">
    <div class="portlet box yellow"> <!--BEGIN PORTLET YELLOW 05-->
      <div class="portlet-title">
        <div style="font-size:1.2em;"> 需要同意保密協議 (額外付費選項，選填) </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-9 col-md-offset-2"><!--BEGIN COL-SM-10-->
            <h3 class="Corange">需要同意保密協議</h3>
            <hr>
            <div class="form-group">
              <div class="marpad-left text-left">
                <%= f.check_box :required_user_intro, :id => "required_user_nda" %> 遠距工作者接受案件時，必須同意NDA條款才能進行申請案件。
              </div>
              <a href="#" class="top17 left17">下載TeleWork保密協議條款聲明書>></a>
            </div>
          </div>
        </div>
      </div>
    </div><!--END PORTLET YELLOW 05-->
  </div>
</div><!--END PANEL02 PORTLET ROW 05-->
<div class="row"><!--BEGIN PANEL02 PORTLET ROW 06-->
  <div class="col-md-12">
    <div class="portlet box yellow"> <!--BEGIN PORTLET YELLOW 06-->
      <div class="portlet-title">
        <div style="font-size:1.2em;"> 智慧財產權轉移聲明(選填) </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-9 col-md-offset-2"><!--BEGIN COL-SM-10-->
            <h3 class="Corange">智慧財產權轉移聲明</h3>
            <hr>
            <div class="form-group">
              <div class="marpad-left text-left">
                <%= f.check_box :required_user_intro, :id => "required_user_ipr" %> 遠距工作者接受案件，並且在工作期間所產生任何有形或無形的創作，開案方無論提前終止或順利完成案件，其案件創作所有權都歸雇主方所有，並且不得任意重複移轉給第三方。
              </div>
              <p class="Cred">(遠距工作者必須同意此條件才能申請案件)</p>
            </div>
          </div>
        </div>
      </div>
    </div><!--END PORTLET YELLOW 06-->
  </div>
</div><!--END PANEL02 PORTLET ROW 06-->

<div class="row"><!--BEGIN PANEL02 PORTLET ROW 07-->
  <div class="col-md-12">
    <div class="portlet box yellow"> <!--BEGIN PORTLET YELLOW 07-->
      <div class="portlet-title">
        <div style="font-size:1.2em;"> 隱藏項目(申請者填寫個人介紹才能申請本工作) </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-9 col-md-offset-2"><!--BEGIN COL-SM-10-->
            <h3 class="Corange">問題</h3>
            <hr>

            <div class="form-style ">

              <form action="#" class=" form-horizontal go-bottom" role="form">

                <div class="row">
                  <div class="col-md-12 marpad" style="padding:5px 8px;">

                    <div id='TextBoxesGroup'>

                      <div id="TextBoxDiv1" class="form-group lable-group">

                        <%= f.fields_for :project_questions do |g| %>
                        <!--  -->
                        <%= g.text_field :description, :class => "form-control", :name => "questions[]", :id => "project_questions_description_1" %>
                        <!-- <input name="question1" type="text" class="form-control" required> -->
                        <label for="question[1]">輸入您對於申請者的其他提問。例如：您認為這個案件的最大挑戰是什麼?</label>

                        <!--  -->
                        <% end %>
                      </div>
                    </div>

                  </div>


                  <!-- <div id='TextBoxesGroup'>
  <div id="TextBoxDiv1">
    <label>Textbox #1 : </label><input type='textbox' id='textbox1' >
  </div>
</div> -->
<!-- <input type='button' value='Add Button'>
<input type='button' value='Remove Button' id='removeButton'>
<input type='button' value='Get TextBox Value' id='getButtonValue'> -->

<div class="col-md-12 marpad">
  <div class="form-group">
    <input type='button' class="btn btn-link fa-input" value='&#xf067; 增加問題' id='addButton'>
    <input type='button' class="btn btn-link fa-input" value='&#xf068; 移除問題' id='removeButton'>
    <!-- <button class="btn btn-link" value='addButton'><i class="fa fa-plus"></i> 新增其他問題</button> -->
  </div>
</div>

</div>
</form>
</div>

</div>
</div>
</div>
</div><!--END PORTLET YELLOW 07-->
</div>
<div class="text-right">
  <button id="present" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">預覽案件</button>
  <!--<%= f.submit "預覽案件", :class => "btn btn-success btn-lg" %>-->
  <%= f.submit "送出案件", :class => "btn btn-success btn-lg" %>
  <!--<%= f.submit "重置", :class => "btn btn-danger btn-lg", :type => "reset" %>-->
  <!--<%= submit_tag "Clear form", :class => 'inputsubmit', :type => 'reset' %>-->

</div>
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">預覽表格</h4>
      </div>
      <div class="modal-body modal-body-yellow">
        <h3 class="Corange">案件類別</h3>
        <p id="mainClass_select_pop"></p>
        <p id="subClass_select2_pop"></p>
        <hr>
        <h3 class="Corange">案件描述</h3>
        <p id="project_name_pop"></p>
        <p id="project_description_pop"></p>
        <p id="skill-tags_pop"></p>
        <hr>
        <h3 class="Corange">案件類型</h3>
        <p id="payment_type_pop"></p>
        <p id="required_user_level_pop"></p>
        <p id="during_time_pop"></p>
        <p id="work_type_pop"></p>
        <p id="budget_pop"></p>
        <p id="end_date_pop"></p>
        <p id="visibility_pop"></p>
        <p id="file_pop"></p>
        <hr>
        <h3 class="Corange">申請者條件</h3>
        <p id="satisfication_pop"></p>
        <p id="worked_hours_pop"></p>
        <p id="worker_location_pop"></p>
        <p id="english_level_pop"></p>
        <hr>
        <h3 class="Corange">需要申請者填寫自我介紹</h3>
        <p id="required_user_intro_pop"></p>
        <hr>
        <h3 class="Corange"> 需要同意保密協議 (額外付費選項，選填)</h3>
        <p id="required_user_nda_pop"></p>
        <hr>
        <h3 class="Corange">智慧財產權轉移聲明(選填)</h3>
        <p id="required_user_ipr_pop"></p>
        <hr>
        <h3 class="Corange">問題</h3>
        <p id="project_questions_description_pop"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">取消</button>
        <%= f.submit "送出案件", :class => "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
</div>
</div><!--END PANEL02 PORTLET ROW 07-->


<% end %>
</div><!--End form-style-->
</div><!--END TAB-PANE 02-->
<div class="tab-pane fade" id="three">
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group" style="padding:20px 24px;">
        <input type="text" class="form-control" placeholder="搜尋遠距工作者">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row panel-box" ><!--樹狀圖 ROW 01 Expanding list-->
        <div class="col-md-3"> <!--樹狀圖 01 Expanding list 01 IT、軟體-->
          <div class="panel panel-warning" >
            <div class="panel-heading clickable ">
              <h3 class="panel-title" >IT 、 軟體</h3>
              <span class="pull-right clickable"><i class="fa fa-sort-desc fa-lg"></i></span>
            </div>
            <ul class="panel-body list-group" style="display: block;">
              <li class="list-group-item clickable"><a href="#">所有類別</a></li>
              <li class="list-group-item clickable"><a href="#">程式設計</a></li>
              <li class="list-group-item clickable"><a href="#">程式測試/除錯</a></li>
              <li class="list-group-item clickable"><a href="#">電子商務平台</a></li>
              <li class="list-group-item clickable"><a href="#">網站開發</a></li>
              <li class="list-group-item clickable"><a href="#">網站企劃</a></li>
              <li class="list-group-item clickable"><a href="#">網站驗收</a></li>
              <li class="list-group-item clickable"><a href="#">網頁應用程式</a></li>
              <li class="list-group-item clickable"><a href="#">手機應用程式</a></li>
              <li class="list-group-item clickable"><a href="#">軟體介面程式</a></li>
              <li class="list-group-item clickable"><a href="#">工具軟體 </a></li>
              <li class="list-group-item clickable"><a href="#">娛樂及遊戲應用程式</a></li>
              <li class="list-group-item clickable"><a href="#">腳本語言 (Scripting)</a></li>
              <li class="list-group-item clickable"><a href="#">外掛程式 </a></li>
              <li class="list-group-item clickable"><a href="#">資訊計劃管理</a></li>
              <li class="list-group-item clickable"><a href="#">網路電話 (VoIP)發</a></li>
              <li class="list-group-item clickable"><a href="#">資訊系統架構</a></li>
              <li class="list-group-item clickable"><a href="#">資訊系統管理</a></li>
              <li class="list-group-item clickable"><a href="#">資訊系統佈建</a></li>
              <li class="list-group-item clickable"><a href="#">企業資訊系統管理</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash; 資訊科技及軟體</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3"> <!--樹狀圖 02 Expanding list 02 工程與科學-->
          <div class="panel panel-warning">
            <div class="panel-heading clickable">
              <h3 class="panel-title">工程與科學</h3>
              <span class="pull-right clickable"><i class="fa fa-sort-desc fa-lg"></i></span>
            </div>
            <ul class="panel-body list-group" style="display: block;">
              <li class="list-group-item clickable"><a href="#">所有類別</a></li>
              <li class="list-group-item clickable"><a href="#">資料探勘 &amp; 分析</a></li>
              <li class="list-group-item clickable"><a href="#">CAD &frasl; CAM 工程開發</a></li>
              <li class="list-group-item clickable"><a href="#">生產工程</a></li>
              <li class="list-group-item clickable"><a href="#">生產開發</a></li>
              <li class="list-group-item clickable"><a href="#">工業工程</a></li>
              <li class="list-group-item clickable"><a href="#">化學工程</a></li>
              <li class="list-group-item clickable"><a href="#">材料工程</a></li>
              <li class="list-group-item clickable"><a href="#">電子工程</a></li>
              <li class="list-group-item clickable"><a href="#">機械工程</a></li>
              <li class="list-group-item clickable"><a href="#">生物工程</a></li>
              <li class="list-group-item clickable"><a href="#">數理統計</a></li>
              <li class="list-group-item clickable"><a href="#">設計工程</a></li>
              <li class="list-group-item clickable"><a href="#">品質控制分析</a></li>
              <li class="list-group-item clickable"><a href="#">工程專案管理</a></li>
              <li class="list-group-item clickable"><a href="#">數學</a></li>
              <li class="list-group-item clickable"><a href="#">物理</a></li>
              <li class="list-group-item clickable"><a href="#">化學</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash; 工程與科學</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3"> <!--樹狀圖 03 Expanding list 03-->
          <div class="panel panel-warning">
            <div class="panel-heading clickable">
              <h3 class="panel-title">設計 、 創意</h3>
              <span class="pull-right clickable"><i class="fa fa-sort-desc fa-lg"></i></span>
            </div>
            <ul class="panel-body list-group" style="display: block;">
              <li class="list-group-item clickable"><a href="#">所有類別</a></li>
              <li class="list-group-item clickable"><a href="#">圖像設計</a></li>
              <li class="list-group-item clickable"><a href="#">Logo 設計</a></li>
              <li class="list-group-item clickable"><a href="#">繪圖</a></li>
              <li class="list-group-item clickable"><a href="#">印刷設計</a></li>
              <li class="list-group-item clickable"><a href="#">3D 建模</a></li>
              <li class="list-group-item clickable"><a href="#">音效設計</a></li>
              <li class="list-group-item clickable"><a href="#">影音設計</a></li>
              <li class="list-group-item clickable"><a href="#">Voice Talent</a></li>
              <li class="list-group-item clickable"><a href="#">動畫設計</a></li>
              <li class="list-group-item clickable"><a href="#">簡報設計</a></li>
              <li class="list-group-item clickable"><a href="#">網站設計</a></li>
              <li class="list-group-item clickable"><a href="#">UI設計</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash; 設計 &amp; 多媒體</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3"> <!--樹狀圖 04 Expanding list 04-->
          <div class="panel panel-warning">
            <div class="panel-heading clickable">
              <h3 class="panel-title">業務 、 行銷</h3>
              <span class="pull-right clickable"><i class="fa fa-sort-desc fa-lg"></i></span>
            </div>
            <ul class="panel-body list-group" style="display: block;">
              <li class="list-group-item clickable"><a href="#">所有類別</a></li>
              <li class="list-group-item clickable"><a href="#">廣告</a></li>
              <li class="list-group-item clickable"><a href="#">電子郵件行銷</a></li>
              <li class="list-group-item clickable"><a href="#">SEO &ndash; 搜尋引擎優化</a></li>
              <li class="list-group-item clickable"><a href="#">SEM &ndash;  搜尋引擎行銷</a></li>
              <li class="list-group-item clickable"><a href="#">SMM &ndash;  社群行銷</a></li>
              <li class="list-group-item clickable"><a href="#">PR &ndash;  公關</a></li>
              <li class="list-group-item clickable"><a href="#">電話行銷</a></li>
              <li class="list-group-item clickable"><a href="#">商業計畫、行銷策略</a></li>
              <li class="list-group-item clickable"><a href="#">行銷研究</a></li>
              <li class="list-group-item clickable"><a href="#">銷售</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash;  業務 &amp; 行銷</a></li>
            </ul>
          </div>
        </div>
      </div> <!--END 樹狀圖 ROW 01-->
      <div class="row panel-box"><!--樹狀圖 ROW 02 Expanding list-->
        <div class="col-md-3"> <!--樹狀圖 05 Expanding list 05-->
          <div class="panel panel-warning">
            <div class="panel-heading clickable">
              <h3 class="panel-title" style="font-size:1.1em">行政總務、客戶支援</h3>
              <span class="pull-right clickable"><i class="fa fa-sort-desc fa-lg"></i></span>
            </div>
            <ul class="panel-body list-group" style="display: block;">
              <li class="list-group-item clickable"><a href="#">所有類別</a></li>
              <li class="list-group-item clickable"><a href="#">數據輸入</a></li>
              <li class="list-group-item clickable"><a href="#">個人助理</a></li>
              <li class="list-group-item clickable"><a href="#">網路調查</a></li>
              <li class="list-group-item clickable"><a href="#">電子郵件回覆助理</a></li>
              <li class="list-group-item clickable"><a href="#">聽譯、逐字稿</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash; 行政支援</a></li>
              <li class="list-group-item clickable"><a href="#">客戶服務 &amp; 支援</a></li>
              <li class="list-group-item clickable"><a href="#">技術支援</a></li>
              <li class="list-group-item clickable"><a href="#">電話支援</a></li>
              <li class="list-group-item clickable"><a href="#">訂單處理</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash; 客戶服務</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3"> <!--樹狀圖 06 Expanding list 06 -->
          <div class="panel panel-warning ">
            <div class="panel-heading clickable">
              <h3 class="panel-title">商業、會計、法務</h3>
              <span class="pull-right clickable"><i class="fa fa-sort-desc fa-lg"></i></span>
            </div>
            <ul class="panel-body list-group" style="display: block;">
              <li class="list-group-item clickable"><a href="#">所有類別</a></li>
              <li class="list-group-item clickable"><a href="#">會計</a></li>
              <li class="list-group-item clickable"><a href="#">帳務</a></li>
              <li class="list-group-item clickable"><a href="#">HR</a></li>
              <li class="list-group-item clickable"><a href="#">財經計劃</a></li>
              <li class="list-group-item clickable"><a href="#">付款</a></li>
              <li class="list-group-item clickable"><a href="#">法務</a></li>
              <li class="list-group-item clickable"><a href="#">專案管理</a></li>
              <li class="list-group-item clickable"><a href="#">人員招募</a></li>
              <li class="list-group-item clickable"><a href="#">數據分析</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash; 商業服務</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3"> <!--樹狀圖 07 Expanding list 07-->
          <div class="panel panel-warning">
            <div class="panel-heading clickable">
              <h3 class="panel-title">寫作、翻譯</h3>
              <span class="pull-right clickable"><i class="fa fa-sort-desc fa-lg"></i></span>
            </div>
            <ul class="panel-body list-group" style="display: block;">
              <li class="list-group-item clickable"><a href="#">所有類別</a></li>
              <li class="list-group-item clickable"><a href="#">技術文件寫作</a></li>
              <li class="list-group-item clickable"><a href="#">網頁內容寫作</a></li>
              <li class="list-group-item clickable"><a href="#">部落格專文寫作</a></li>
              <li class="list-group-item clickable"><a href="#">文宣寫作</a></li>
              <li class="list-group-item clickable"><a href="#">翻譯</a></li>
              <li class="list-group-item clickable"><a href="#">創意寫作</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash; 寫作&amp;翻譯</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3"> <!--樹狀圖 08 Expanding list 08-->
          <div class="panel panel-warning">
            <div class="panel-heading clickable">
              <h3 class="panel-title">專業諮詢</h3>
              <span class="pull-right clickable"><i class="fa fa-sort-desc fa-lg"></i></span>
            </div>
            <ul class="panel-body list-group" style="display: block;">
              <li class="list-group-item clickable"><a href="#">所有類別</a></li>
              <li class="list-group-item clickable"><a href="#">助理顧問</a></li>
              <li class="list-group-item clickable"><a href="#">溝通顧問</a></li>
              <li class="list-group-item clickable"><a href="#">安全顧問</a></li>
              <li class="list-group-item clickable"><a href="#">行銷顧問</a></li>
              <li class="list-group-item clickable"><a href="#">業務顧問</a></li>
              <li class="list-group-item clickable"><a href="#">商業顧問</a></li>
              <li class="list-group-item clickable"><a href="#">顧問分析</a></li>
              <li class="list-group-item clickable"><a href="#">服務顧問</a></li>
              <li class="list-group-item clickable"><a href="#">其他 &ndash; 顧問</a></li>
            </ul>
          </div>
        </div>
      </div> <!--END 樹狀圖 ROW 02-->
    </div>
    <div class=""><!--樹狀圖 保留空間-->
    </div>
  </div>

</div>
<div class="tab-pane fade" id="four">

  <div class="row" style="margin:auto 3px;"> <!--Begin row-->
    <div class="col-sm-9">
      <div class=""> <!--會員資料-->
        <div class="media">

          <a class="pull-left" href="#">
            <img class="media-object dp img-rounded" src="/img/default-pic.png" style="width: 100px;height:100px;" alt="img">
          </a>

          <div class="media-body">
            <div class="media-heading"><a style="color: #319ACA;" href="hire-list-f.html"><h4 style="display: inline;">Hardik Sondagar</h4></a>
              <p  class=" hidden-xs" style="display: inline;"><span class=" fa fa-star"></span><span class=" fa fa-star"></span><span class=" fa fa-star"></span><span class=" fa fa-star"></span><span class=" fa fa-star-o"></span><strong>(4.95)</strong></p></div>
              <h5 class="color-grey hidden-xs "><i class="fa fa-map-marker fa-lg" ></i> 來自台灣 &nbsp;
                <span class=""><i class="fa fa-check-square-o fa-lg" ></i> 已通過帳戶認證 &nbsp;</span>
                <span class="">
                  <i class="fa fa-credit-card fa-lg" ></i> 有效的金融帳戶
                </span>
              </h5>
              <ul class="color-grey visible-xs">
                <li><i class="fa fa-map-marker fa-lg" ></i> 來自台灣</li>
                <li><i class="fa fa-check-square-o fa-lg" ></i> 已通過帳戶認證</li>
                <li><i class="fa fa-credit-card fa-lg" ></i> 有效的金融帳戶</li>
              </ul>
              <h5>八年的軟體工作經驗</h5>
              <div class="" >
               <button type="button" class="btn btn-danger btn-sm btn-circle "><i class="fa fa-times"> 刪除</i></button>

               <button type="button" class="btn btn-warning btn-sm btn-circle"><i class="fa fa-check"> 雇用</i></button>

               <button type="button" class="btn btn-primary btn-sm btn-circle"><i class="fa fa-comment"> 聯絡</i></button>
             </div>
             <hr style="margin:8px auto" class=" clear">
             <p>名性活斯度全，再足生的把何，這委精業學通時此由，化廣三題小全操通照思在知有著物裝會！事制保國樂，而響生來、賣發總身球的你書狀有也生有獨車像無雖單口裡麼是位這卻提絕自說只現的來生令定生種臺這，片張以國子日得那已寫。身單陽定一飛自子。</p>
             <div>
               <span class="label label-default">HTML5/CSS3</span>
               <span class="label label-default">jQuery</span>
               <span class="label label-default">CakePHP</span>
               <span class="label label-default">Android</span>
               <a href="#">More..(15)</a>
             </div>
             <div class="profolio-info" >
              <ul>
                <li>每小時30美金</li>
                <li>已做過2個案件/共150小時</li>
              </ul>
              <ul>
                <li>上次登入 2014/04/08</li>
                <li>共12項作品</li>
                <li>通過5項測驗</li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!--END 會員資料-->
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4"><h4>備註</h4></div>
            <div class="col-xs-8 marpad text-right" ><button class="btn btn-link">編輯備註</button></div>
          </div>
        </div>
        <div class="panel-body">
          沒手黨離全上及科人、合全說謝媽像可們客然還推如阿以得區情費學？地成訴總所新保無：人二個不心從的年，衣就清己魚最不分山後不坐心便全可力度境是。校都了南的紀些有話路多南。
        </div>
      </div>
    </div>
  </div><!--END ROW-->
  <hr>
  <div class="row" style="margin:auto 3px;"> <!--Begin row-->
    <div class="col-sm-9">
      <div class=""> <!--會員資料-->
        <div class="media">

          <a class="pull-left" href="#">
            <img class="media-object dp img-rounded" src="/img/default-pic.png" style="width: 100px;height:100px;" alt="img">
          </a>


          <div class="media-body">
            <div class="media-heading"><a style="color: #319ACA;" href="hire-list-f.html"><h4 style="display: inline;">Hardik Sondagar</h4></a>
              <p  class=" hidden-xs" style="display: inline;"><span class=" fa fa-star"></span><span class=" fa fa-star"></span><span class=" fa fa-star"></span><span class=" fa fa-star"></span><span class=" fa fa-star-o"></span><strong>(4.95)</strong></p></div>
              <h5 class="color-grey hidden-xs "><i class="fa fa-map-marker fa-lg" ></i> 來自台灣 &nbsp;
                <span class=""><i class="fa fa-check-square-o fa-lg" ></i> 已通過帳戶認證 &nbsp;</span>
                <span class="">
                  <i class="fa fa-credit-card fa-lg" ></i> 有效的金融帳戶
                </span>
              </h5>
              <ul class="color-grey visible-xs">
                <li><i class="fa fa-map-marker fa-lg" ></i> 來自台灣</li>
                <li><i class="fa fa-check-square-o fa-lg" ></i> 已通過帳戶認證</li>
                <li><i class="fa fa-credit-card fa-lg" ></i> 有效的金融帳戶</li>
              </ul>
              <h5>八年的軟體工作經驗</h5>
              <div class="" >
               <button type="button" class="btn btn-danger btn-sm btn-circle "><i class="fa fa-times"> 刪除</i></button>

               <button type="button" class="btn btn-warning btn-sm btn-circle"><i class="fa fa-check"> 雇用</i></button>

               <button type="button" class="btn btn-primary btn-sm btn-circle"><i class="fa fa-comment"> 聯絡</i></button>
             </div>
             <hr style="margin:8px auto" class=" clear">
             <p>名性活斯度全，再足生的把何，這委精業學通時此由，化廣三題小全操通照思在知有著物裝會！事制保國樂，而響生來、賣發總身球的你書狀有也生有獨車像無雖單口裡麼是位這卻提絕自說只現的來生令定生種臺這，片張以國子日得那已寫。身單陽定一飛自子。</p>
             <div>
               <span class="label label-default">HTML5/CSS3</span>
               <span class="label label-default">jQuery</span>
               <span class="label label-default">CakePHP</span>
               <span class="label label-default">Android</span>
               <a href="#">More..(15)</a>
             </div>
             <div class="profolio-info" >
              <ul>
                <li>每小時30美金</li>
                <li>已做過2個案件/共150小時</li>
              </ul>
              <ul>
                <li>上次登入 2014/04/08</li>
                <li>共12項作品</li>
                <li>通過5項測驗</li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!--END 會員資料-->
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4"><h4>備註</h4></div>
            <div class="col-xs-8 marpad text-right" ><button class="btn btn-link">編輯備註</button></div>
          </div>
        </div>
        <div class="panel-body">
          沒手黨離全上及科人、合全說謝媽像可們客然還推如阿以得區情費學？地成訴總所新保無：人二個不心從的年，衣就清己魚最不分山後不坐心便全可力度境是。校都了南的紀些有話路多南。
        </div>
      </div>
    </div>
  </div><!--END ROW-->
</div>
</div>
</div>
</div>
<!-- END PAGE -->
<!-- BEGIN FOOTER -->
<script language="javascript" type="text/javascript"
src="/masterpage/footer.txt"></script>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
<!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <!-- <script src="/plugins/jquery-1.7.2.js"></script> -->
            <script src="/plugins/jquery-1.11.0.min.js"></script>
            <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="/plugins/jquery-placeholder/jquery.placeholder.js"></script>

            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <script src="/plugins/jquery-autocomplete/jquery.autocomplete.pack.js"></script>
            <script src="/plugins/jquery-autocomplete/jquery.autocomplete.js"></script>
            <script src="/plugins/jquery-tags-input/jquery.tagsinput.js"></script>
            <script src="/plugins/select2/select2.min.js"></script>
            <script src="/plugins/bootstrap-datetimepicker-master/build/js/moment.js"></script>
            <script src="/plugins/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.js"></script>
            <script src="/plugins/dropzone/dropzone.js"></script>
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="/js/script.js"></script>
            <script src="/plugins/dropzone/dropzone.js"></script>

            <!-- END 頁面插件 -->
            <script type="text/javascript" src="/js/script.js"></script>
            <script type="text/javascript" src="/js/page/personal_profile.js"></script>
            <script type="text/javascript" src="/js/loginmain.js"></script>
            <script type="text/javascript" src="/js/element.js"></script>
            <script type="text/javascript" src="/js/expanding_list.js"></script>
            <script type="text/javascript" src="/js/page/project_new.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->
            <script>
              jQuery(document).ready(function() {
               Web.init();
               PersonalProfile.init();
             });
            </script>
            <script type="text/javascript" src="/js/bootstrap-tabcollapse-yellow.js"></script>
            <script type="text/javascript">
              $('#myTab').tabCollapse();
              $('#testTabs').tabCollapse();
              $('#testTabs01').tabCollapse();
            </script>

            <script type="text/javascript">
              $(document).ready(function() {
                $("input[name$='feetype']").click(function() {
                  var test = $(this).val();

                  $("div.desc").hide();
                  $("#feetype" + test).show();
                });
              });
            </script>
            <script type="text/javascript">
              $(function(){
                $('#datetimepicker1').datetimepicker({
                  pickTime: false,
                  icons: {
                    date: "fa fa-calendar",
                  }
                });
              });
            </script>
            <script>

              $(document).ready(function(){
                $("#mainClass_select").change(main_class_change);
              });

              var main_class_change = function(){
                // alert( "Handler for .change() called." );

                var main = $("#mainClass_select option:selected").val();


                var parent = $(this).parent().parent().parent().parent()
                var request_obj = {
              // request: "get_sub_category",
              main_category_id: main
            }
          // $(parent).find("#subClass_select2").remove()

          var select = $(parent).find('select#subClass_select2')

              // select.attr("disabled", true)
              $.ajax({
                url: "/users/profiles/get_sub_category",
                type: "post",
                dataType: "json",
                data: JSON.stringify(request_obj),
                contentType: 'application/json',
                async: false,
                success: function(data) {
                  // console.log( data );
                  $(parent).find('#subClass_select2 option').remove()

                  for(var key in data) {
                    // console.log( select);
                    $("#subClass_select2").append($("<option></option>").attr("value", key).text(data[key].name))
                  }
                }
              })
            }
          </script>

          <script type="text/javascript">

            $(document).ready(function(){

              var counter = 2;

              $("#addButton").click(function () {

                if(counter>10){
                  alert("Only 10 textboxes allow");
                  return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                .attr("id", 'TextBoxDiv' + counter);

                newTextBoxDiv.after().html('' +
                  '<input class="form-control" type="text" name="questions[]" id="project_questions_description_' + counter +
                  '"><label for="question[' + counter +
                  ']">輸入您對於申請者的其他提問。</label>');

                newTextBoxDiv.appendTo("#TextBoxesGroup");
                newTextBoxDiv.addClass("form-group lable-group");

                counter++;
              });

              $("#removeButton").click(function () {
                if(counter==2){
                  alert("您至少需輸入一個問題！");
                  return false;
                }

                counter--;

                $("#TextBoxDiv" + counter).remove();

              });

              $("#getButtonValue").click(function () {

                var msg = '';
                for(i=1; i<counter; i++){
                  msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
                }
                alert(msg);
              });
            });
</script>

<script type="text/javascript">

  var main_skill = "<%= t(:main_skill_category) %>".replace(/&quot;/g,'\"').replace(/=&gt;/g, ':');
  var sub_skill = "<%= t(:sub_skill_category) %>".replace(/&quot;/g,'\"').replace(/=&gt;/g, ':');

  var main_skill_JSON = JSON.parse(main_skill);
  var sub_skill_JSON = JSON.parse(sub_skill);

  var satisfication_value;
  var worked_hours_value;
  var worker_location_value;
  var satisfication_value;

  $('#present').click(function() {
    $('#mainClass_select_pop').html("<strong>主類別:</strong> " + main_skill_JSON[$('#mainClass_select').val()].name);
    $('#subClass_select2_pop').html("<strong>子類別:</strong> " + sub_skill_JSON[$('#mainClass_select').val()][$('#subClass_select2').val()].name);

    $('#project_name_pop').html( "<strong>工作內容:</strong> " + $('#project_name').val());
    $('#project_name_pop').html( "<strong>工作內容:</strong> " + $('#project_name').val());
    $('#project_description_pop').html( "<strong>工作內容:</strong> " + $('#project_description').val());
    $('#skill-tags_pop').html($("<strong>案件技能:</strong>" + '#skill-tags').val());

    if ($('#is_emergency').is(":checked")) {
     $('#is_emergency_pop').html( "<strong>急件:</strong> 是的！我需要急件處理" );
   }
   else{
     $('#is_emergency_pop').html( "<strong>急件:</strong> 不！我不需要急件處理" );
   }

   if (document.getElementById('radio1').checked) {
    $('#payment_type_pop').html( "<strong>類型:</strong> 時薪制" );

    if (document.getElementById('required_user_level_1').checked) {
      $('#required_user_level_pop').html( "<strong>遠距工作者經驗程度:</strong> 入門，具備入門等級的相關經歷，此類案件通常不會執行太過困難的任務。" );
    }
    else if (document.getElementById('required_user_level_2').checked) {
      $('#required_user_level_pop').html( "<strong>遠距工作者經驗程度:</strong> 中階，處理過類似案件，具備經驗能處理較為進階的任務。" );
    }
    else if (document.getElementById('required_user_level_3').checked) {
      $('#required_user_level_pop').html( "<strong>遠距工作者經驗程度:</strong> 專家，專家等級，能處理進階任務，替雇主創造價值。" );
    }

    if (document.getElementById('during_time_1').checked) {
      $('#during_time_pop').html( "<strong>案件預計工期:</strong> 3日" );
    }
    else if (document.getElementById('during_time_2').checked) {
      $('#during_time_pop').html( "<strong>案件預計工期:</strong> 7日" );
    }
    else if (document.getElementById('during_time_3').checked) {
      $('#during_time_pop').html( "<strong>案件預計工期:</strong> 14日" );
    }
    else if (document.getElementById('during_time_4').checked) {
      $('#during_time_pop').html( "<strong>案件預計工期:</strong> 1個月" );
    }
    else if (document.getElementById('during_time_5').checked) {
      $('#during_time_pop').html( "<strong>案件預計工期:</strong> 3個月" );
    }

    if (document.getElementById('work_type_1').checked) {
      $('#work_type_pop').html( "<strong>全職/兼職:</strong> 全職" );
    }
    else if (document.getElementById('work_type_2').checked) {
      $('#work_type_pop').html( "<strong>全職/兼職:</strong> 兼職" );
    }

    $('#budget_pop').hide;
    $('#end_date_pop').hide;

  }
  else if (document.getElementById('radio2').checked) {
    $('#payment_type_pop').html( "<strong>類型:</strong> 固定薪資" );

    $('#budget_pop').html( "<strong>案件預算:</strong> " + $('#budget').val());
    $('#end_date_pop').html( "<strong>案件預算:</strong> " + $('#end_date').val());

    $('#required_user_level_pop').hide;
    $('#during_time_pop').hide;
    $('#work_type_pop').hide;
  }

  if (document.getElementById('visibility_1').checked) {
    $('#visibility_pop').html( "<strong>能見度:</strong> 開放式" );
  }
  else if (document.getElementById('visibility_2').checked) {
    $('#visibility_pop').html( "<strong>能見度:</strong> 僅限Telework會員" );
  }
  else if (document.getElementById('visibility_3').checked) {
    $('#visibility_pop').html( "<strong>能見度:</strong> 隱藏式" );
  }

  $('#file_pop').html( "<strong>上傳附加檔案的檔名:</strong> " + $('#file').val().name);

  satisfication_value = $('#satisfication').val()
  if ( satisfication_value == 1 ) {
    $('#satisfication_pop').html( "<strong>獲得的滿意度最低:</strong> 1.0分" );
  }
  else if ( satisfication_value == 2 ) {
    $('#satisfication_pop').html( "<strong>獲得的滿意度最低:</strong> 2.0分" );
  }
  else if ( satisfication_value == 3 ) {
    $('#satisfication_pop').html( "<strong>獲得的滿意度最低:</strong> 3.0分" );
  }
  else if ( satisfication_value == 4 ) {
    $('#satisfication_pop').html( "<strong>獲得的滿意度最低:</strong> 4.0分" );
  }
  else if ( satisfication_value == 5 ) {
    $('#satisfication_pop').html( "<strong>獲得的滿意度最低:</strong> 5.0分" );
  }
  else {
    $('#satisfication_pop').html( "<strong>獲得的滿意度最低:</strong> 任何分數" );
  }

  worked_hours_value = $('#worked_hours').val()
  if ( worked_hours_value == 1 ) {
    $('#worked_hours_pop').html( "<strong>已工作時數最低:</strong> 20小時" );
  }
  else if ( worked_hours_value == 2 ) {
    $('#worked_hours_pop').html( "<strong>已工作時數最低:</strong> 40小時" );
  }
  else if ( worked_hours_value == 3 ) {
    $('#worked_hours_pop').html( "<strong>已工作時數最低:</strong> 100小時" );
  }
  else if ( worked_hours_value == 4 ) {
    $('#worked_hours_pop').html( "<strong>已工作時數最低:</strong> 500小時" );
  }
  else if ( worked_hours_value == 5 ) {
    $('#worked_hours_pop').html( "<strong>已工作時數最低:</strong> 1500小時以上" );
  }
  else {
    $('#worked_hours_pop').html( "<strong>已工作時數最低:</strong> 任何時數" );
  }

  worker_location_value = $('#worker_location').val()
  if ( worker_location_value == 1 ) {
    $('#worker_location_pop').html( "<strong>所在地區:</strong> 亞洲" );
  }
  else if ( worker_location_value == 2 ) {
    $('#worker_location_pop').html( "<strong>所在地區:</strong> 歐洲" );
  }
  else if ( worker_location_value == 3 ) {
    $('#worker_location_pop').html( "<strong>所在地區:</strong> 南美洲" );
  }
  else if ( worker_location_value == 4 ) {
    $('#worker_location_pop').html( "<strong>所在地區:</strong> 北美洲" );
  }
  else if ( worker_location_value == 5 ) {
    $('#worker_location_pop').html( "<strong>所在地區:</strong> 大洋洲" );
  }
  else {
    $('#worker_location_pop').html( "<strong>所在地區:</strong> 任何地區" );
  }

  english_level_value = $('#english_level').val()
  if ( english_level_value == 1 ) {
    $('#english_level_pop').html( "<strong>英文程度:</strong> 精通" );
  }
  else if ( english_level_value == 2 ) {
    $('#english_level_pop').html( "<strong>英文程度:</strong> 流暢" );
  }
  else if ( english_level_value == 3 ) {
    $('#english_level_pop').html( "<strong>英文程度:</strong> 普通" );
  }
  else if ( english_level_value == 4 ) {
    $('#english_level_pop').html( "<strong>英文程度:</strong> 略懂" );
  }
  else {
    $('#english_level_pop').html( "<strong>英文程度:</strong> 任何" );
  }

  if (document.getElementById('required_user_intro').checked) {
    $('#required_user_intro_pop').html( "<strong>填寫自我介紹:</strong> <i class=\"fa fa-check\"></i> 需要" );
  }
  else {
    $('#required_user_intro_pop').html( "<strong>填寫自我介紹:</strong> <i class=\"fa fa-times\"></i> 不需要" );
  }

   if (document.getElementById('required_user_nda').checked) {
    $('#required_user_nda_pop').html( "<strong>需要同意保密協議 (額外付費選項，選填):</strong> <i class=\"fa fa-check\"></i> 需要" );
  }
  else {
    $('#required_user_nda_pop').html( "<strong>需要同意保密協議 (額外付費選項，選填):</strong> <i class=\"fa fa-times\"></i> 不需要" );
  }
  if (document.getElementById('required_user_ipr').checked) {
    $('#required_user_ipr_pop').html( "<strong>智慧財產權轉移聲明(選填):</strong> <i class=\"fa fa-check\"></i> 需要" );
  }
  else {
    $('#required_user_ipr_pop').html( "<strong>智慧財產權轉移聲明(選填):</strong> <i class=\"fa fa-times\"></i> 不需要" );
  }

// $('#project_questions_description_pop').html( "<p><strong>問題1:</strong> " + $('#project_questions_description_1').val() + "</p>" );
// console.log("project_counter_1");
// $('#project_questions_description_pop').html( "<p><strong>問題2:</strong> " + $('#project_questions_description_2').val() + "</p>" );
// console.log("project_counter_2");


for ( var project_counter = 1; $('#project_questions_description_' + project_counter ).val() != null; project_counter++ ) {
  console.log(project_counter);
  $('#project_questions_description_pop').before( "<p><strong>問題" + project_counter + ":</strong> " + $('#project_questions_description_' + project_counter ).val() + "</p>" );
}
});

$('#submit').click(function(){
  alert('submitting');
  $('#formfield').submit();
});
</script>


<!-- END JAVASCRIPTS -->
<!-- BEGIN PIE -->
<!--[if lte IE 9]>
        <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
        <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
      </body>
      </html>
