<h1>案件類別</h1>
<strong>主類別</strong>
<p><%= @project.main_skill %></p>
<strong>次類別</strong>
<p><%= @project.sub_skill %></p>

<h1>案件類別</h1>

<strong>案件名稱</strong>
<p><%= @project.name %></p>

<strong>工作內容</strong>
<p><%= @project.description %></p>

<strong>案件技能</strong>
<p><%= @project.require_skills %></p>

