<ul>
    <il>Name:</il>
    <ul>
        <li><%= @project.name %></li>
        <li><%= @project.name_chinese %></li>
    </ul>
</ul>
<ul>
    <il>require_skills: </il>
    <ul>
        <li><%= @project.require_skills %></li>
        <li><%= @project.require_skills_chinese %></li>
    </ul>
</ul>
<ul>
    <li>Description: </li>
    <ul>
        <li><%= @project.description %></li>
        <li><%= @project.description_chinese %></li>
    </ul>
</ul>
<% if @project.has_public_mesage? %>
<ul>
    <li>Public message</li>
    <ul>
        <% @project.get_public_message.each do |m| %>
        <li><%= m.text %></li>
        <% end %>
    </ul>
</ul>
<% end %>
<ul>
    <li>budget: </li>
    <ul>
        <li>origin => <%= @project.currency_code  %>: <%= @project.budget.split(/,/)[0].to_f %> ~ <%= @project.budget.split(/,/)[1].to_f %></li>
        <li>equals to => min: <%=@project.budget.split(/,/)[0].to_f * @project.currency_exchangerate %>, max: <%=@project.budget.split(/,/)[1].to_f * @project.currency_exchangerate %> USD</li>
    </ul>
</ul>
