<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>快樂工作</title>

    <!-- BEGIN STYLE -->
    <!-- BEGIN 核心樣式 -->
    <link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../../css/page/edit_category.css">
        <link rel="shortcut icon" href="../../../favicon.ico"/>
        <!-- END STYLE -->
    </head>
    <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
                    <i class="fa fa-search"></i>
                </button>
                <a class="navbar-brand" href="/"><img class="navbar-logo" src="../../../img/logo208.png" alt="快樂工作"></a>
            </div>
            <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <!-- <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div> -->
            </div>
            <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                        <li><%= link_to "會員登出", destroy_user_session_path, method: :delete %></li>
                    <% else %>
                        <li><%= link_to "會員登入", new_user_session_path %></li>
                        <li><%= link_to "免費註冊", index_sign_up_path %></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <!-- END NAVBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN TITLE -->
            <h1 class="title">認證完成，歡迎您 <span class="white-space-nowrap"><span class="point"><%= current_user.first_name + current_user.last_name %></span>！</span></h1>
            <p class="subtitle">請繼續完成您的自由工作者帳戶設定</p>
            <!-- END TITLE -->
            <!-- BEGIN MAIN CONTENT -->
            <div class="main-content">
                <h2 class="title"><i class="fa fa-chevron-circle-right"></i> 請先選擇您的專業類別</h2>
                <!-- BEGIN CLASS -->
                <!-- <%= t("sub_skill_category") %> -->
                <div class="class">
                    <div class="row">
                        <!-- <form action="create_profile.html" class="class-form" data-isEmpty="請選擇一個專長類別"> -->
                        <%= form_for :user_skill_category, url: users_skill_categorys_path, html: {class: "class-form", data: {isempty: "請選擇一個專長類別"}} do |f| %>
                        <div class="col-md-3 col-xs-4 image">
                            <img src="../../../img/class/class_1.png" alt="IT、軟體">
                            <p><%= t("main_skill_category")[@category_index]['name'] %></p>
                        </div>
                        <div class="col-md-9 col-xs-8 content">
                            <p class="title">您是哪一種 <span class="point"><%= t("main_skill_category")[@category_index]['name'] %></span> 人員？</p>
                            <% t("sub_skill_category")[@category_index].each_with_index do |cate, index| %>
                            <div class="item">
                                <input type="checkbox" name="class[]" value="<%= index %>" id="class<%= index %>">
                                <label for="class<%= index %>">
                                    <%= cate['name'] %>
                                </label>
                            </div>
                            <% end %>
                        </div>
                        <div class="btns">
                            <a href="/users/skill_categorys/new" class="btn btn-default btn-lg left"><i class="fa fa-long-arrow-left"></i> 上一步</a>
                            <button type="submit" class="btn btn-primary btn-lg right">確定儲存</i></button>
                        </div>
                        <!-- </form> -->
                        <% end %>
                    </div>
                </div>
                <!-- END CLASS -->
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END PAGE -->
        <!-- BEGIN FOOTER -->
        <div class="footer">
            <img class="footer-logo" src="../../../img/logo103.png" alt="">
            <div class="footer-nav">
                <%= link_to "關於我們", index_about_path %>
                <span class="bar">|</span>
                <%= link_to "隱私條款", index_rule_path %>
                <span class="bar">|</span>
                <%= link_to "使用條款", index_rule_path %>
            </ul>
        </div>
        <!-- END FOOTER -->

        <!-- BEGIN JAVASCRIPTS -->
        <!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="../../../plugins/html5shiv.min.js"></script>
            <script src="../../../plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <script src="../../../plugins/bootbox/bootbox.min.js"></script>
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../../js/script.js"></script>
            <script type="text/javascript" src="../../../js/page/edit_category.js"></script>
            <script>
                jQuery(document).ready(function() {
                   Web.init();
                   EditCategory.init();
               });
           </script>
           <!-- END JAVASCRIPTS -->
           <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="../../../plugins/PIE-1.0.0/PIE.js"></script>
        <script src="../../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
    </body>
    </html>
