
<!-- <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %> -->
<!-- <%= devise_error_messages! %> -->

<!-- <div><%= f.label :email %><br /> -->
  <!-- <%= f.email_field :email, autofocus: true %></div> -->

  <!-- <div><%= f.submit "Send me reset password instructions" %></div> -->
  <!-- <% end %> -->

  <!-- <%= render "users/shared/links" %> -->



  <!DOCTYPE html>
  <html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>快樂工作</title>

    <!-- BEGIN STYLE -->
    <!-- BEGIN 核心樣式 -->
    <link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../../css/page/verify_email.css">
        <link rel="shortcut icon" href="../../../favicon.ico"/>
        <!-- END STYLE -->
    </head>
    <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
                    <i class="fa fa-search"></i>
                </button>
                <a class="navbar-brand" href="../../../index.html"><img class="navbar-logo" src="../../../img/logo208.png" alt="快樂工作"></a>
            </div>
            <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="../../../login.html">會員登入</a></li>
                    <li><a href="../../../sign_up.html">免費註冊</a></li>
                </ul>
            </div>
        </div>
        <!-- END NAVBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN MAIN CONTENT -->
            <div class="main-content">
                <%= devise_error_messages! %>
                <!-- BEGIN BOX -->
                <div class="row box">
                    <div class="col-md-3 col-xs-4 image">
                        <img src="../../../img/forgot_password.png" alt="envelop">
                    </div>
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <div class="col-md-9 col-xs-8 content">
                        <h1 class="title" style="text-align:left; margin-top:0px; padding:0;">忘記密碼?</h1>
                        <h3>請輸入您的Email</h3>
                        <!-- <input type="text" class="form-control" name="username" placeholder="請輸入您的Email" data-isEmpty="請輸入您的Email"> -->
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "請輸入您的Email", "data-isEmpty" => "請輸入您的Email" %>

                        <!-- <a href="../../../#" class="btn btn-success">寄送郵件</a> -->
                        <%= f.submit "寄送郵件", class: "btn btn-success" %>
                    </div>
                    <% end %>
                </div>
                <!-- END BOX -->
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END PAGE -->
        <!-- BEGIN FOOTER -->
        <div class="footer">
            <img class="footer-logo" src="../../../img/logo103.png" alt="">
            <div class="footer-nav">
                <a href="../../../about.html">關於我們</a>
                <span class="bar">|</span>
                <a href="../../../rule.html">隱私條款</a>
                <span class="bar">|</span>
                <a href="../../../rule.html">使用條款</a>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- BEGIN JAVASCRIPTS -->
        <!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="../../../plugins/html5shiv.min.js"></script>
            <script src="../../../plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../../js/script.js"></script>
            <!--<script type="text/javascript" src="../../../js/page/index.js"></script>-->
            <script>
                jQuery(document).ready(function() {
                 Web.init();
               //Index.init();
           });
       </script>
       <!-- END JAVASCRIPTS -->
       <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="../../../plugins/PIE-1.0.0/PIE.js"></script>
        <script src="../../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
    </body>
    </html>
