<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<head>
    <%= javascript_include_tag "application" %>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0">
    <title><%= I18n.t("page.title") %></title>

    <!-- BEGIN STYLE -->
    <!-- BEGIN 核心樣式 -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <!--[if gte IE 9]>
    <style type="text/css">
    .gradient {
    filter: none;
    }
    </style>
    <![endif]-->
    <!-- END 核心樣式 -->
    <!-- BEGIN 頁面插件樣式 -->
    <link rel="stylesheet" href="/plugins/jquery-autocomplete/jquery.autocomplete.css">
    <link rel="stylesheet" href="/plugins/jquery-tags-input/jquery.tagsinput.css">
    <link rel="stylesheet" href="/plugins/select2/select2.css">
    <link rel="stylesheet" href="/plugins/select2/select2-metronic.css">
    <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/plugins/dropzone/css/dropzone.css">
    <!-- END 頁面插件樣式 -->
    <!-- BEGIN 主題樣式 -->
    <!-- END 主題樣式 -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/alert.css">
    <link rel="stylesheet" type="text/css" href="/css/page/personal_profile.css">
    <link rel="stylesheet" type="text/css" href="/css/progress_bar.css">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <!-- END STYLE -->
    <!-- JQuery Datepicker style -->
    <style type="text/css">
    th.datepicker-switch{
        background-color: gray;
    }
    </style>
</head>

<body>
        <div id="loader" style="z-index:10; position:fixed; width:100%; height:100%; display: none;" align="center">
            <img style="-webkit-opacity: 0.4; -moz-opacity: 0.4; filter:alpha(opacity=40);" src="/img/spinner.gif">
        </div>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<!--                 <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
                    <i class="fa fa-search"></i>
                </button> -->
                <a class="navbar-brand" href="/"><img class="navbar-logo" src="/img/logo208.png" alt="快樂工作"></a>
            </div>
            <!-- <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div> -->
            <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                    <li><%= link_to I18n.t("page.header.settings"), users_profile_path(current_user)  %></li>
                    <li><%= link_to I18n.t("page.header.logout"), destroy_user_session_path, method: :delete %></li>
                    <% else %>
                    <!--<li><%= link_to I18n.t("page.header.login"), new_user_session_path %></li>-->
                    <!--<li><%= link_to I18n.t("page.header.signup"), index_sign_up_path %></li>-->
                      <% @menus.each do |m| %>
                        <% if ["login"].include?(m.key) %>
                            <li><%= link_to m.label, m.link %></li>
                        <% end %>
                      <% end %>
                      <% @menus.each do |m| %>
                        <% if ["sign_up"].include?(m.key) %>
                            <li><%= link_to m.label, m.link %></li>
                        <% end %>
                      <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
        <!-- END NAVBAR -->



        <div class="row">
            <div class="col-md-2">

            <ul class="nav nav-pills nav-stacked">
                  <li role="presentation"><%= link_to("會議室預約", meet_rooms_path) %></li>
                  <li role="presentation"><%= link_to("已預約的會議", meet_rooms_information_path) %> </li>
                  <li role="presentation"><%= link_to("查詢會議", meet_rooms_search_path) %> </li>
                  <li role="presentation"><%= link_to("我的聯絡人", meet_room_members_project_contact_path) %></li>
                  <li role="presentation"><%= link_to("即將開始的會議", meet_rooms_upcoming_meet_path)%></li>
                  <li role="presentation"><%= link_to("購買會議室時數", meet_rooms_buy_path) %></li>
                </ul>
            </div>

            <div class="col-md-10">
                <%=yield %>
            </div>
        </div>



<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
<!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <!-- <script src="/plugins/jquery-1.7.2.js"></script> -->
            <script src="/plugins/jquery-1.11.0.min.js"></script>
            <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="/plugins/jquery-placeholder/jquery.placeholder.js"></script>

            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <script src="/plugins/jquery-autocomplete/jquery.autocomplete.pack.js"></script>
            <script src="/plugins/jquery-autocomplete/jquery.autocomplete.js"></script>
            <script src="/plugins/jquery-tags-input/jquery.tagsinput.js"></script>
            <script type="text/javascript" src="/plugins/jquery-validation/dist/jquery.validate.js"></script>
            <script type="text/javascript" src="/plugins/jquery-validation/dist/myMethods.js"></script>
            <script src="/plugins/select2/select2.min.js"></script>
            <script src="/plugins/bootstrap-datetimepicker-master/build/js/moment.js"></script>
            <script src="/plugins/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.js"></script>
            <script src="/plugins/dropzone/dropzone.js"></script>
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="/js/script.js"></script>
            <script src="/plugins/dropzone/dropzone.js"></script>

            <!-- END 頁面插件 -->
            <script type="text/javascript" src="/js/script.js"></script>
            <script type="text/javascript" src="/js/page/personal_profile.js"></script>
            <script type="text/javascript" src="/js/loginmain.js"></script>
            <script type="text/javascript" src="/js/element.js"></script>
            <script type="text/javascript" src="/js/expanding_list.js"></script>
            <script type="text/javascript" src="/js/page/project_new.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->




            <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    pickTime: false
                });
            });
            </script>

            <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    pickDate: false
                });
            });
            </script>

            <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    pickDate: false
                });
            });
            </script>



<!-- END JAVASCRIPTS -->
</body>
</html>
