<h1> 線上會議室 租借</h1>


<%= bootstrap_form_for(@room) do |f| %>
  <%= f.select :room_number, [["Meet Room 1", 1], ["Meet Room 2", 2]], { label: "選擇會議室:" }, { class: "selectpicker" } %>
  <%= f.datetime_field :start_time %>
  <%= f.datetime_field :end_time %>

        <!-- 選擇會議室所要開的專案 -->
  <%= f.form_group :case, label: { text: "選擇專案" }, help: "Optional Help Text" do %>
    <% @projects.each do |p| %>
  	  <%= f.radio_button :case, p.id, label: p.name%>
  	<% end %>
	<% end %>

  <li> <%= @room.case %> </li>
        <!-- 填入參與人員 -->
  

  <%= f.submit "送出" %>
<% end %>


