
<div class="main-content">
	<div class="row">
    <div class="col-md-8"><h1> 已預定會議室資訊 </h1></div>
    <div class="col-md-4">
      <%= link_to("Book system", meet_rooms_path) %>
    </div>
  </div>
	
	

	<h2> <%= current_user.username %> 你好</h2>
	

	<% @rooms.each_with_index do |room, i| %>
		<div class="tab-content">
			<div class="portlet box light-grey show-view">
				<div class="portlet-title">
	        <div class="caption">
	          <% if @unconfirmed > 0 %>
	          	<p>參與人員尚未全部確定</p>
	          <% else %>
	          	<p>預定的會議室 </p>
	          <% end %>
	        </div>
	      </div>
	      <ul class="list-group">
	  			<li class="list-group-item"> 會議室編號： <%= room.room_number%> </li>
					<li class="list-group-item"> 會議日期： <%= room.target_date %> </li>
					<li class="list-group-item"> 開始時間： <%= room.start_time.strftime('%p %H:%M:%S') %> </li>
					<li class="list-group-item"> 結束時間： <%= room.end_time.strftime('%p %H:%M:%S') %> </li>
					<li class="list-group-item"> 專案名稱： <%= @projects[i].name %></li>
					<li class="list-group-item"> 會議主持人： </li>
					
					<li class="list-group-item"> 邀請參加人員： 
						<ul><% room.meet_room_members.each do |m|%>
							<li><%= User.find(m.user).username %></li>
						<% end %></ul>
					</li>
					<% if @unconfirmed > 0 %>
						<li class="list-group-item"> 參與狀態： 尚未確定人員<%= @unconfirmed %></li>
					<% end %>
					<li class="list-group-item"> 付款資訊： </li>

					<li class="list-group-item"> 
						<div class="row">
  						<div class="col-md-8">會議室允許變動期限：<%= @final_datetime %></div>
  						<div class="col-md-4">
  							<%= link_to("會議室變更", edit_meet_room_path(room))%>
  							<%= link_to("會議人員變動", meet_room_meet_room_members_path(room)) %>
  							取消會議室
  						</div>
						</div>
					</li>
					
				</ul>
				

				
				
				
			</div>
		</div>
	<% end %>

</div>