<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %></div>  

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>  

  <div><%= f.label :email %><br />
  <%= f.email_field :email%></div>

  <div><%= f.label :country_code %><br />
  <%= f.country_select :country_code %></div>

  <div>Time_zone<br />
  <%= f.time_zone_select :time_zone %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :how_to_know %><br />
  <%= f.text_field :how_to_know %></div>

  <div><%= :receive_information %><%= f.check_box_tag :receive_information %></div><br>

  <div><%= recaptcha_tags %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "users/shared/links" %>
