<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
  <!--[if gte IE 9]>
  <style type="text/css">
  .gradient {
  filter: none;
  }
  </style>
  <![endif]-->
  <!-- END 核心樣式 -->
  <!-- BEGIN 頁面插件樣式 -->
  <!-- END 頁面插件樣式 -->
  <!-- BEGIN 主題樣式 -->
  <!-- END 主題樣式 -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/socialIcons.css">
  <link rel="stylesheet" type="text/css" href="../../css/page/freelancer_sign_up.css">
  <link rel="shortcut icon" href="favicon.ico"/>
  <!-- END STYLE -->
</head>
<body>
  <!-- BEGIN NAVBAR -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
        <i class="fa fa-search"></i>
      </button>
      <a class="navbar-brand" href="../"><img class="navbar-logo" src="/assets/logo208.png" alt="快樂工作"></a>
    </div>
    <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
      <!-- <div class="navbar-search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜尋您需要的人才">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div> -->
    </div>
    <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "會員登出", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "會員登入", new_user_session_path %></li>
        <li><%= link_to "免費註冊", index_sign_up_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- END NAVBAR -->
  <!-- BEGIN PAGE -->
  <div class="page-content">
    <!-- BEGIN MODAL -->
    <div class="modal fade" id="rule" tabindex="-1" role="rule" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">使用條約</h4>
          </div>
          <div class="modal-body">
           <%= t(:rules)%>
         </div>
         <div class="modal-footer">
          <button type="button" class="btn default" data-dismiss="modal">關閉</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- END MODAL -->
  <h1 class="title">免費建立個人帳號</h1>
  <div class="social">
    <div class="box">
      <p class="social-text">您也可以使用其他OpenID快速註冊</p>
      <ul class="social-icons">
        <li>
          <!-- <a class="facebook" data-original-title="facebook" href="#"> -->
          <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "facebook", data:{original:{title:"facebook"}} %>
        </a>
      </li>
      <li>
        <!-- <a class="googleplus" data-original-title="Goole Plus" href="#"> -->
        <%= link_to "Google", user_omniauth_authorize_path(:google_oauth2), class: "googleplus",  data:{original:{title:"Goole Plus"}} %>
      </a>
    </li>
    <li>
      <!-- <a class="yahoo" data-original-title="Yahoo!" href="#"> -->
      <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "yahoo", data:{original:{title:"Yahoo!"}} %>
    </a>
  </li>
</ul>
</div>
</div>


<!-- BEGIN MAIN CONTENT -->
<div class="main-content">
  <!-- /.modal -->
  <!-- BRGIN FORM -->

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "signUp-form", id: "signUp-form"}) do |f| %>

  <div class="form-group alert alert-danger display-hide">
    請檢查您輸入的資料
  </div>

  <div>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert form-group alert-danger"><%= alert %></p>
    <% end %>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
      <div class="input-icon right">
        <i class="fa"></i>
        <%= f.text_field :first_name, class: "form-control", placeholder: "姓" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
      <div class="input-icon right">
        <i class="fa"></i>
        <%= f.text_field :last_name, class: "form-control", placeholder: "名" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <div class="input-icon right">
        <i class="fa"></i>
        <%= f.email_field :email, class: "form-control", placeholder: "Email"%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-flag"></i></span>
      <%= f.localized_country_select :country_code, [], {:include_blank => '所在地區'}, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-flag"></i></span>
      <%= f.time_zone_select :time_zone, nil, {}, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
      <div class="input-icon right">
        <i class="fa"></i>
        <!-- <input type="text" class="form-control" name="username" placeholder="使用者帳號" data-isEmpty="請輸入帳號" data-isError="帳號長度不足" data-isExists="帳戶名稱已經有人使用"> -->
        <%= f.text_field :username, class: "form-control", placeholder: "使用者帳號", "data-isEmpty" => "請輸入帳號", "data-isError" => "帳號長度不足", "data-isExists" => "帳戶名稱已經有人使用"%>
        <!-- 帳號重複及驗證碼的判斷在plugins/jquery-validation/dist/myMethods.js -->
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <div class="input-icon right">
        <i class="fa"></i>
        <!-- <input type="password" class="form-control" name="password" placeholder="設定密碼" data-isEmpty="請輸入密碼" data-isError="密碼長度不足"> -->
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "設定密碼" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <div class="input-icon right">
        <i class="fa"></i>
        <!-- <input type="password" class="form-control" name="password" placeholder="設定密碼" data-isEmpty="請輸入密碼" data-isError="密碼長度不足"> -->
        <%= f.password_field :password_check, autocomplete: "off", class: "form-control", placeholder: "請再一次輸入密碼" %>
      </div>
    </div>
  </div>

  <div class="form-group recommend">
    <div class="input-icon right">
      <i class="fa fa-info-circle" data-original-title="如果您是透過朋友推薦得知本網站，建議您填寫朋友姓名。"></i>
      <!-- <input type="text" class="form-control" name="recommend" placeholder="從何處得知網站訊息？"> -->
      <%= f.text_field :how_to_know, class: "form-control", name: "recommend", placeholder: "從何處得知網站訊息? " %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-icon right">
      <i class="fa"></i>
      <!-- <input type="text" class="form-control" name="verification" placeholder="輸入以下識別碼" data-isEmpty="請輸入識別碼" data-isError="錯誤! 請輸入正確的識別碼"> -->
      <!-- 帳號重複及驗證碼的判斷在plugins/jquery-validation/dist/myMethods.js -->
    </div>
  </div>

  <div class="form-group imageVerification">
    <!-- <img src="/assets/u44.png" alt=""> -->
    <div>
      <p>未確保您不是惡意註冊，請輸入下方顯示的英文單字。</p>
    </div>
    <%= recaptcha_tags :display => { :theme => "clean" }, :ajax => true %>
    <div class="clear"></div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox"> 我想收到關於網站最新的資訊及動態，若您不想收到類似訊息，請取消勾選。
      </label>
    </div>
  </div>

  <div class="form-group">
    <div><%= f.submit "我要註冊", class: "btn" %></div>
  </div>

  <p class="rule">完成註冊代表您同意本網站的<a data-toggle="modal" href="#rule">使用條約</a>及隱私權條款。</p>

  <% end %>
  <!-- END FORM -->
</div>
<!-- END MAIN CONTENT -->
</div>
<!-- END PAGE -->

<!-- BEGIN FOOTER -->
<div class="footer">
  <img class="footer-logo" src="/assets/logo103.png" alt="">
  <div class="footer-nav">
    <%= link_to "關於我們", index_about_path %>
    <span class="bar">|</span>
    <%= link_to "隱私條款", index_rule_path %>
    <span class="bar">|</span>
    <%= link_to "使用條款", index_rule_path %>
  </ul>
</div>

<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <script type="text/javascript" src="../../plugins/jquery-validation/dist/jquery.validate.js"></script>
            <script type="text/javascript" src="../../plugins/jquery-validation/dist/myMethods.js"></script>
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../js/script.js"></script>
            <script type="text/javascript" src="../../js/page/freelancer_sign_up.js"></script>


            <script>
              jQuery(document).ready(function() {
               Web.init();
               SingUp.init();
             });
           </script>


         </body>
         </html>
